<div class="row">
  <div class="col-12">
    <p class="">
      <span class="name"></span>
      <span class="danger"><span class="badge badge-danger p-1"><i class="fal fa-siren-on text-white" style="font-size: 20px;"></i></span></span>
      <span class="warn"><span class="badge badge-warning p-1"><i class="fal fa-exclamation-triangle text-white" style="font-size: 20px;"></i></span></span>
    </p>
  </div><!-- /.col-12 -->
  <div class="list-area col-12"></div>
  <div class="col-12">
    <div class="sensors-IGO" style="border: 1px solid #4472C4; margin: 15px;">
      <h3 style="background-color: #4472C4;"><i class="fal fa-sensor-alert"></i> IGO 경고 <span class="cnt"></span></h3>
      <div class="left-list-sensor"></div>
    </div><!-- /.sensors-IGO -->
    <div class="sensors-IGR" style="border: 1px solid #002060; margin: 15px;">
      <h3 style="background-color: #002060;"><i class="fal fa-sensor-alert"></i> IGR 경고 <span class="cnt"></span></h3>
      <div class="left-list-sensor"></div>
    </div><!-- /.sensors-IGR -->
    <div class="sensors-AMRERE" style="border: 1px solid #7030A0; margin: 15px;">
      <h3 style="background-color: #7030A0;"><i class="fal fa-sensor-alert"></i> 과전류 경고 <span class="cnt"></span></h3>
      <div class="left-list-sensor"></div>
    </div><!-- /.sensors-AMRERE -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->

<script type="text/javascript">
$(function () {
  fn_mill_initLeft();
});

function fn_mill_initLeft() {
  $.template(
    'left-area',
    '<p class="area-lv{{html LEVEL}}" data-code="{{html CODE}}">' +
      '<span class="name">{{html NAME}}</span><span class="danger">{{html DANGER}}</span><span class="warn">{{html WARN}}</span>' +
    '</p>'
  );

  $.template(
    'left-check-sensor',
    '<p class="left-check-sensor" data-areacode="{{html AREACODE}}" data-strcode="{{html STRCODE}}" data-code="{{html SNSRID}}">' +
      '{{html AREANAME}}_{{html SNSRNICK}} ({{html CNT}})' +
    '</p>'
  );

  fn_mill_getCheckSensorList();
}

function fn_mill_refreshLeft() {
  fn_mill_getCheckSensorList();
}

function fn_mill_getCheckSensorList() {
  $.post(
    $('#contextRoot').val() + '/mng/incheon/checkSensorListAjax',
    {},
    function (d) {
      $('.left-list-sensor').html('');

      for (let i = 0; i < d.length; i++)
        $('.sensors-' + d[i].STATE + ' .left-list-sensor').append($.tmpl('left-check-sensor', d[i]));

      $('.sensors-CHECK .cnt').text('(' + $('.sensors-CHECK .left-list-sensor p').length + ')');
  });
}
</script>