<div class="row">
  <div class="col-12">
    <div class="sensors-DANGER" style="border: 1px solid #404040;">
      <h3 style="background-color: #404040;"><i class="fal fa-siren-on"></i> 차단기 경고 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-DANGER -->
    <div class="sensors-WARN" style="border: 1px solid #BF9000;">
      <h3 style="background-color: #BF9000;"><i class="fal fa-exclamation-triangle"></i> 에너지사용량 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-WARN -->
    <div class="sensors-BROKEN" style="border: 1px solid #7F6000;">
      <h3 style="background-color: #7F6000;"><i class="fal fa-sensor-alert"></i> 에너지공급 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-BROKEN -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->

<script type="text/javascript">
$(function () {
  fn_milr_initRight();
});

function fn_milr_initRight() {
  $.template(
    'right-sensor',
    '<p class="right-sensor" data-areacode="{{html AREACODE}}" data-strcode="{{html STRCODE}}" data-code="{{html SNSRID}}">' +
      '{{html AREANAME}}_{{html SNSRNICK}} ({{html CNT}})' +
    '</p>'
  );

  fn_milr_getRightSensorList();
}

function fn_milr_refreshRight() {
  fn_milr_getRightSensorList();
}

function fn_milr_getRightSensorList() {
  $.post(
    $('#contextRoot').val() + '/mng/incheon/sensorListAjax',
    {},
    function (d) {
      $('.list-sensor').html('');

      for (let i = 0; i < d.length; i++) {
        $('.sensors-' + d[i].STATE + ' .list-sensor').append($.tmpl('right-sensor', d[i]));
      }

      $('.sensors-DANGER .cnt').text('(' + $('.sensors-DANGER .list-sensor p').length + ')');
      $('.sensors-WARN .cnt').text('(' + $('.sensors-WARN .list-sensor p').length + ')');
      $('.sensors-BROKEN .cnt').text('(' + $('.sensors-BROKEN .list-sensor p').length + ')');
  });
}
</script>