<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<th:block th:replace="mng/incheon/layout/mi_head"></th:block>
<link rel="stylesheet" th:href="@{/fs/css/custom.css}" />
</head>

<body class="mod-bg-1 mod-nav-link">
<div class="top">
  <th:block th:replace="mng/incheon/layout/mi_top"></th:block>
</div><!-- /.top -->

<div class="row">
  <div class="left col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/incheon/layout/mi_left"></th:block>
  </div>
  <div class="center col-md-8 col-12">
    <div id="center-main-cont" class="center-main-cont">
      <div class="row">
        <div class="col-12 sortable-grid ui-sortable"></div>
      </div>
    </div><!-- /#center-main-cont -->
    <div class="center-store-cont">
      <div class="row center-top p-1">
        <div class="area-name col-4"></div>
        <div class="area-stat col-8">
          전체<span class="total" style="color: #afd9ee;"></span> |
          경고<span class="danger" style="color: #e082ae;"></span> |
          주의<span class="warn" style="color: #dbc969;"></span> |
          끊김<span class="discon" style="color: #dddddd;"></span>
        </div><!-- /.area-stat col-8 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="center-left col-md-3 col-12">
          <div class="center-left-sensor-list"></div>
        </div><!-- /.col-md-3 -->
        <div class="center-cont col-md-9 col-12">
          <div class="row center-cont-top">
            <div class="store-name col-4"></div>
            <div class="cont-btn col-8">
              <span class="center-cont-top-btn on" data-page="Info">기본정보</span>
              <span class="center-cont-top-btn" data-page="Log">경보이력</span>
              <span class="center-cont-top-btn" data-page="Chart">분석차트</span>
              <span class="center-main-btn">Main Page</span>
            </div><!-- /.col-8 -->
          </div><!-- /.row -->
          <div class="row center-cont-page"></div>
        </div><!-- /.col-md-9 -->
      </div><!-- /.row -->
    </div><!-- /.center-store-cont -->
  </div><!-- /.center -->
  <div class="right col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/incheon/layout/mi_right"></th:block>
  </div>
</div><!-- /.row -->
<div class="bottom">
  <th:block th:replace="mng/incheon/layout/mi_bottom"></th:block>
</div>

<script th:src="@{/fs/js/polyfill.min.js}"></script>
<script th:src="@{/fs/js/apexcharts.js}"></script>

<script type="text/javascript" th:src="${naverMap}"></script>

<script type="text/javascript">
$(document).ready(function () {
  window.center_name = 'main';
  fn_mim_toggleCenterCont();
});

function fn_mim_toggleCenterCont() {
  if (window.center_name == 'main') {
    $('.center-main-cont').show();
    $('.center-store-cont').hide();
  } else {
    $('.center-main-cont').hide();
    $('.center-store-cont').show();
  }
}
</script>
</body>
</html>