<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<th:block th:replace="mng/incheon/layout/mi_head"></th:block>
<link rel="stylesheet" th:href="@{/fs/css/custom.css}" />

<style>
.center-main-cont .panel-hdr { min-height: 2.5rem !important; height: 2.5rem !important; }
.center-main-cont .panel-container { height: 220px; overflow-y: hidden; }
.center-main-cont { height: 265px; overflow-x: hidden; overflow-y: hidden; }

#mim_panel_div { margin-top: 10px; border-radius: 0 0 4px 4px; border: 1px solid #e0e0e0; }
#mim_panel_title { height: 2.5rem; padding-left: 1rem; border-radius: 4px 4px 0 0; background-color: #2b559b; color: #ffffff; font-size: 24px; font-weight: bold; }
#mim_panel_left_div, #mim_panel_right_div  { padding: 0.75rem; }

#mim_panel_snsr_legend { font-size: 18px; }
.mim_panel_snsr_legend_rect { padding: 12px; border: 2px solid #2F528F; }
#mim_panel_snsr_state_tbl { font-size: 15px; border: 2px solid #2F528F; }
#mim_panel_snsr_state_tbl td { border: none; display: table-cell; text-align: center; vertical-align: middle; height: 100%; padding: 0.25rem; }
#mim_panel_snsr_state_tbl div { padding: 1.1rem 0; }

.mim_snsr_info_title { font-weight: 800; font-size: 20px; }
#mim_rst_tbl th, #mim_rst_tbl td, #mim_snsr_tbl th, #mim_snsr_tbl td { font-size: 12px; padding: 0.15rem; }
#mim_rst_tbl th, #mim_snsr_tbl th { text-align: center; font-weight: 800; }
</style>
</head>

<body class="mod-bg-1 mod-nav-link">
<div class="top">
  <th:block th:replace="mng/incheon/layout/mi_top"></th:block>
</div><!-- /.top -->

<div class="row">
  <div class="left col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/incheon/layout/mi_left"></th:block>
  </div>
  <div class="center col-md-8 col-12">
    <div id="center-main-cont" class="center-main-cont">
      <div class="row">
        <div class="col-12 sortable-grid ui-sortable"></div>
      </div>
    </div><!-- /#center-main-cont -->

    <div id="mim_panel_div">
      <div id="mim_panel_title">분전반 현황</div>
      <div class="row ml-0 mr-0">
        <div class="col-5" id="mim_panel_left_div">
          <div class="form-inline" id="mim_panel_snsr_legend">
            <span class="mim_panel_snsr_legend_rect" style="background-color: #00B050;"></span>
            <span class="ml-2">정상</span>
            <span class="ml-3 mim_panel_snsr_legend_rect" style="background-color: #FFBF87;"></span>
            <span class="ml-2">주의</span>
            <span class="ml-3 mim_panel_snsr_legend_rect" style="background-color: #FF2F44;"></span>
            <span class="ml-2">경고</span>
            <span class="ml-3 mim_panel_snsr_legend_rect" style="background-color: #A6A6A6;"></span>
            <span class="ml-2">끊김</span>
          </div>

          <table class="mt-3 table" id="mim_panel_snsr_state_tbl">
            <colgroup>
              <col style="width: 33.3%" />
              <col style="width: 33.3%" />
              <col style="width: 33.3%" />
            </colgroup>
            <tbody>
            </tbody>
          </table>
        </div><!-- /#mim_panel_left_div -->
        <div class="col-7" id="mim_panel_right_div"></div>
      </div><!-- /.row -->
    </div><!-- /#mim_panel_div -->
  </div><!-- /.center -->
  <div class="right col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/incheon/layout/mi_right"></th:block>
  </div>
</div><!-- /.row -->
<div class="bottom">
  <th:block th:replace="mng/incheon/layout/mi_bottom"></th:block>
</div>

<script th:src="@{/fs/js/polyfill.min.js}"></script>
<script th:src="@{/fs/js/apexcharts.js}"></script>

<script type="text/javascript" th:src="${naverMap}"></script>

<script type="text/javascript">
$(function () {
  fn_mim_init();
});

function fn_mim_init() {
  $.template(
    'center-left-store',
    '<p class="{{html STATE}}" data-areacode="{{html AREACODE}}" data-strcode="{{html STRCODE}}" data-strname="{{html STRNAME}}">' +
      '({{html SNSRCOUNT}}) {{html STRNAME}} <span class="cnt2">{{html CNT2}}</span><span>{{html CNT}}</span>' +
    '</p>'
  );

  fn_mim_initMainAreaList();

  $('.center-main-cont').on('click', '.js-panel-fullscreen', function () {
    let id = '#' + $(this).attr('data-id');

    if ($(this).hasClass('on')) {
      $(this).removeClass('on');
      $(id).removeClass('panel-fullscreen');

      $("#mim_panel_div").css('display', 'block');
    } else {
      $(this).addClass('on');
      $(id).addClass('panel-fullscreen');

      $("#mim_panel_div").css('display', 'none');
    }
  });
}

function fn_mim_initMainAreaList() {
  // main
  window.min_category = [];
  $('.center-main-cont .sortable-grid').html('');

  for (let i = 0; i < 24; i++)
    for (let j = 0; j < 6; j++)
      window.min_category.push(('0' + i).slice(-2) + ':' + (j + '0'));

  // side
  window.left_area_lv2_on_code = $('.left .area-lv2.on').attr('data-code');
  $('.list-area').html('');

  $.post(
    $('#contextRoot').val() + '/mng/incheon/todayGuAreaAjax',
    {},
    function (d) {
      if (d) {
        window.area = d;
        window.areaIndex = {};
        window.lv1cnt = 0;

        // left side
        for (let i = 0; i < d.length; i++)
          if (d[i].LEVEL == 1)
            $('.list-area').append($.tmpl('left-area', d[i]));
          else
            $('.list-area p[data-code="' + d[i].UPCODE + '"]').after($.tmpl('left-area', d[i]));

        // main
        for (let i = d.length - 1; i >= 0; i--) {
          if (d[i].LEVEL != 1) {
            window.lv1cnt++;
            window.areaIndex[d[i].CODE] = i;

            $.post(
              $('#contextRoot').val() + '/mng/incheon/mainArea',
              { panel_index: 'panel-' + d[i].CODE, areacode: d[i].CODE },
              function (cont) {
                let $temp = $('<div>');
                $temp.html(cont);

                $('.center-main-cont .sortable-grid').append($temp.find('.sub-cont').html());

                if (window.lv1cnt == $('.center-main-cont .panel').length) {
                  $('#center-main-cont').smartPanel({ localStorage: true });

                  $($('.center-main-cont .js-panel-collapse')[0]).addClass("on");
                  $($('.center-main-cont .panel-container')[0]).addClass('show');
                  $($('.center-main-cont .js-panel-collapse')[1]).addClass("on");
                  $($('.center-main-cont .panel-container')[1]).addClass('show');
                }

                window.center_name = 'main';
                fn_mim_toggleCenterCont();

                // area 데이터 수신현황 update
                let show_panel = $('.center-main-cont .panel-container');
                for (let i = 0; i < show_panel.length; i++)
                  fn_mim_setMainArea($(show_panel[i]).attr('data-id').replace('panel-', '')/*, id*/);
            });
      }}}
  });

  // 분번반 현황 센서 상태
  fn_mim_getCurrSnsrState();
  fn_mim_getCurrSnsrInfo();
}

function fn_mim_toggleCenterCont() {
  if (window.center_name == 'main') {
    $('.center-main-cont').show();
    $('.center-store-cont').hide();
  } else {
    $('.center-main-cont').hide();
    $('.center-store-cont').show();
  }
}

function fn_mim_updateMainAreaList(/*id*/) {
  $.post(
    $('#contextRoot').val() + '/mng/incheon/todayGuAreaAjax',
    {},
    function (d) {
      if (d) {
        window.area = d;
        window.areaIndex = {};

        for (let i = d.length - 1; i >= 0; i--) {
          if (d[i].LEVEL != 1)
            window.areaIndex[d[i].CODE] = i;

          // left side
          $('.list-area p[data-code="' + d[i].CODE + '"] > span.danger').text(d[i].DANGER);
          $('.list-area p[data-code="' + d[i].CODE + '"] > span.warn').text(d[i].WARN);
        }

        let show_panel = $('.center-main-cont .panel-container');
        for (let i = 0; i < show_panel.length; i++)
          fn_mim_setMainArea($(show_panel[i]).attr('data-id').replace('panel-', '')/*, id*/);
  }});
}

function fn_mim_setMainArea(i) {
  let panel_id = 'panel-' + i;

  $('#' + panel_id + ' .center-main-area-title').text(window.area[window.areaIndex[i]].NAME);
  $('#' + panel_id + ' .center-main-area-count-store').text(window.area[window.areaIndex[i]].STORE);
  $('#' + panel_id + ' .center-main-area-count-sensor').text(window.area[window.areaIndex[i]].SENSOR);
  $('#' + panel_id + ' .center-main-area-count-danger').text(window.area[window.areaIndex[i]].DANGER);
  $('#' + panel_id + ' .center-main-area-count-warn').text(window.area[window.areaIndex[i]].WARN);
  $('#' + panel_id + ' .center-main-area-count-discon').text(window.area[window.areaIndex[i]].DISCON);

  if ($('#' + panel_id).hasClass('panel-fullscreen') || $('#' + panel_id + ' .panel-container').hasClass('show')) {
    $.post(
      $('#contextRoot').val() + '/mng/incheon/mainAreaDataAndLogChartAjax',
      { areacode: i },
      function (resu) {
        fn_mim_setChart('데이터 수신 현황', '#' + panel_id + ' .center-main-data-chart', resu.data, ['#99ccff','#003399']);
        fn_mim_setChart('경보 발생 현황', '#' + panel_id + ' .center-main-log-chart', resu.log, ['#ff9966','#cc3300']);
    });
  }
}

function fn_mim_setChart(title, target, data, colors) {
  let opt = {
    series: [],
    chart: { height: 220, type: 'line', id: target, animations: { enabled: false }, zoom: { enabled: false }, toolbar: { show: false } },
    title: { text: title, align: 'left' },
    colors: colors,
    stroke: { width: 2 },
    dataLabels: { enabled: false },
    tooltip: {
      enabled: true,
      marker: { show: true },
      fixed: { enabled: true, position: 'topLeft' },
      y: { formatter: function (val) { return (val) ? val.toFixed(0) : null; } }
    },
    xaxis: { categories: window.min_category, tickAmount: 11, labels: { rotate: 0 } },
    yaxis: {
      lines: { show: true },
      tooltip: { enabled: true },
      labels: { formatter: function (val) { return (val) ? val.toFixed(0) : null; } }
    },
    legend: { position: 'top' }
  };

  let series = [{ name: '어제', data: [] }, { name:'오늘', data: [] }];
  let j = 0;
  let now_time = fn_milt_dateToString(new Date()).slice(11, 15) + '0';

  for (let i = 0; i < window.min_category.length; i++)
    if (j < data.length && data[j].TYPE == '1' && data[j].RCVTIME == window.min_category[i])
      series[0].data.push(data[j++].CNT);
    else if (window.min_category[i])
      series[0].data.push(0);

  for (let i = 0; i < window.min_category.length; i++)
    if (j < data.length - 1 && data[j].RCVTIME == window.min_category[i])
      series[1].data.push(data[j++].CNT);
    else if (window.min_category[i] < now_time)
      series[1].data.push(0);

  opt.markers = { size: 0, hover: { size: 0 } };

  let target_id = target.replace(/ /g,'-');
  if (window['chart-' + target_id]) {
    window['chart-' + target_id].updateOptions(opt);
    window['chart-' + target_id].updateSeries(series);
  } else {
    $(target).html('');
    opt.series = series;

    window['chart-' + target_id] = new ApexCharts(document.querySelector(target), opt);
    window['chart-' + target_id].render().then(function () {});
  }
}

function fn_mim_getCurrSnsrState() {
  $("#mim_panel_snsr_state_tbl > tbody").empty();

  $.post(
    $('#contextRoot').val() + '/mng/incheon/currSnsrStateAjax',
    {},
    function (d) {
      if (d.length) {
        let html = '';
        let trLength = Math.ceil(d.length / 2);

        for (let i = 0 ; i < trLength; i++) {
          html += '<tr>';

          let lIdx = 2 * i;
          let leftDivStyle = '';
          switch (d[lIdx].STATE) {
            case 'DANGER': leftDivStyle = 'background-color: #FF2F44; color: #fff; border: 2px solid #2F528F;'; break;
            case 'WARN': leftDivStyle = 'background-color: #FFBF87; color: #000; border: 2px solid #2F528F;'; break;
            case 'DISCONN': leftDivStyle = 'background-color: #a6a6a6; color: #000; border: 2px solid #2F528F;'; break;
            case 'NORMAL': leftDivStyle = 'background-color: #00B050; color: #fff; border: 2px solid #2F528F;'; break;
          }

          html += '<td><div style="' + leftDivStyle + '">' + d[lIdx].SNSRNICK + '&nbsp;&nbsp;' + d[lIdx].SNSRID + '</div></td>';
          ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

          if (i == 0)
            html += '<td rowspan="' + trLength + '">분전반</td>';
          ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

          let rIdx = 2 * i + 1;
          if (d[rIdx] != null) {
            let rightDivStyle = '';
            switch (d[rIdx].STATE) {
              case 'DANGER': rightDivStyle = 'background-color: #FF2F44; color: #fff; border: 2px solid #2F528F;'; break;
              case 'WARN': rightDivStyle = 'background-color: #FFBF87; color: #000; border: 2px solid #2F528F;'; break;
              case 'DISCONN': rightDivStyle = 'background-color: #a6a6a6; color: #000; border: 2px solid #2F528F;'; break;
              case 'NORMAL': rightDivStyle = 'background-color: #00B050; color: #fff; border: 2px solid #2F528F;'; break;
            }

            html += '<td><div style="' + rightDivStyle + '">' + d[rIdx].SNSRNICK + '&nbsp;&nbsp;' + d[rIdx].SNSRID + '</div></td>';
          } else {
            html += '<td style="background-color: #fff;"></td>';
          }

          html += '</tr>';
        }

        $("#mim_panel_snsr_state_tbl > tbody").html(html);
    }}
  );
}

function fn_mim_getCurrSnsrInfo() {
  $("#mim_panel_right_div").empty();
  let html = '';

  html += ' <div class="mim_snsr_info_title">기본정보</div>';

  $.post(
    $('#contextRoot').val() + '/mng/incheon/currSnsrInfoAjax',
    {},
    function (resu) {
      if (resu) {
        html += '<table class="mt-1 table table-bordered" id="mim_rst_tbl">'
             +    '<thead class="thead-light">'
             +      '<tr>'
             +        '<th>구분</th>'
             +        '<th>단상</th>'
             +        '<th>IGO [mA]</th>'
             +        '<th>IGR [mA]</th>'
             +        '<th>IGC [mA]</th>'
             +        '<th>전류 [A]</th>'
             +        '<th>전압 [V]</th>'
             +        '<th>전력량 [kWh]</th>'
             +      '</tr>'
             +    '</thead>'
             +    '<tbody>';

        if (resu.resultRstList) {
          for (let i = 0; i < resu.resultRstList.length; i++) {
            let item = resu.resultRstList[i];

            html += '<tr>';
            if (i == 0)
              html += '<td rowspan="' + resu.resultRstList.length + '">삼상</td>';

            html += '<td>' + item.TYPE + '</td>'
                 +  '<td class="text-right">' + item.SNSRIGO + '</td>'
                 +  '<td class="text-right">' + item.SNSRIGR + '</td>'
                 +  '<td class="text-right">' + item.SNSRIGC + '</td>'
                 +  '<td class="text-right">' + item.SNSRAMPERE + '</td>'
                 +  '<td class="text-right">' + item.SNSRVOLT + '</td>'
                 +  '<td class="text-right">' + item.SNSRKWH + '</td>'

            html += '</tr>';
          }
        } else {
          html += '<tr><td colspan="8">데이터가 없습니다.</td></tr>';
        }

        html += '</tbody></table>';

        html += '<table class="mt-1 table table-bordered" id="mim_snsr_tbl">'
             +    '<thead class="thead-light">'
             +      '<tr>'
             +        '<th>구분</th>'
             +        '<th>분기명</th>'
             +        '<th>IGO [mA]</th>'
             +        '<th>IGR [mA]</th>'
             +        '<th>IGC [mA]</th>'
             +        '<th>전류 [A]</th>'
             +        '<th>전압 [V]</th>'
             +        '<th>전력량 [kWh]</th>'
             +        '<th>수신감도 [dBm]</th>'
             +      '</tr>'
             +    '</thead>'
             +    '<tbody>';

        if (resu.resultSnsrList) {
          for (let i = 0; i < resu.resultSnsrList.length; i++) {
            let item = resu.resultSnsrList[i];

            html += '<tr>';
            if (i == 0)
              html += '<td rowspan="' + resu.resultSnsrList.length + '">분기</td>';

            html += '<td>' + item.SNSRNICK + '</td>'
                 +  '<td class="text-right">' + item.SNSRIGO + '</td>'
                 +  '<td class="text-right">' + item.SNSRIGR + '</td>'
                 +  '<td class="text-right">' + item.SNSRIGC + '</td>'
                 +  '<td class="text-right">' + item.SNSRAMPERE + '</td>'
                 +  '<td class="text-right">' + item.SNSRVOLT + '</td>'
                 +  '<td class="text-right">' + item.SNSRKWH + '</td>'
                 +  '<td class="text-right">' + item.SNSRRSSI + '</td>'

            html += '</tr>';
    }}}

    $("#mim_panel_right_div").html(html);
  });
}

let refreshTime = window.setInterval(function () {
  if (new Date().getMinutes() % 10 === 2)
    fn_mim_refresh();
}, 60 * 1000);

function fn_mim_refresh() {
  fn_milt_refreshTop();
  fn_mill_refreshLeft();
  fn_milr_refreshRight();

  if (window.center_name == 'main')
    fn_mim_updateMainAreaList();
}
</script>
</body>
</html>