<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<th:block th:replace="mng/incheon/layout/mi_head"></th:block>
<link rel="stylesheet" th:href="@{/fs/css/custom.css}" />

<style>
#center-main-cont { height: 305px; overflow-y: hidden; }

#mim_panel_div { margin-top: 15px; }
#mim_panel_title { padding: 0.5rem 1rem; border-radius: 4px 4px 0 0; background-color: #2b559b; color: #ffffff; font-size: 24px; font-weight: bold; }
#mim_panel_body { display: flex; justify-content: center; border-radius: 0 0 4px 4px; border: 1px solid #e0e0e0; }
#mim_panel_inner_body { display: flex; flex-direction: row; padding: 30px 20px; }
#mim_panel_img { display: flex; margin-left: 80px; padding: 20px 20px; border: 2px solid #2F528F; }
#mim_panel_img_left { display: flex; flex-direction: column; justify-content: center; position: absolute; left: 150px; }
.mim_panel_img_circle { width: 50px; height: 50px; border-radius: 50%; border: 2px solid #2F528F; }
.mim_panel_img_hr { width: 80px; border-bottom: 2px solid #2F528F; }
.mim_panel_img_rect { background-color: #5B9BD5; color: #ffffff; font-size: 24px; padding: 5px 50px; border: 2px solid #2F528F; }
#mim_panel_img_center { display: flex; justify-content: center; font-size: 33px; padding: 80px 200px; }
#mim_panel_img_right { display: flex; flex-direction: column; justify-content: center; position: absolute; left: 640px; }
#mim_panel_legend { display: flex; flex-direction: column; justify-content: center; margin-left: 200px; }
.mim_panel_legend_rect { padding: 20px; border: 2px solid #2F528F; }
.mim_panel_legend_txt { margin-left: 10px; font-size: 24px; }
</style>
</head>

<body class="mod-bg-1 mod-nav-link">
<div class="top">
  <th:block th:replace="mng/incheon/layout/mi_top"></th:block>
</div><!-- /.top -->

<div class="row">
  <div class="left col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/incheon/layout/mi_left"></th:block>
  </div>
  <div class="center col-md-8 col-12">
    <div id="center-main-cont" class="center-main-cont">
      <div class="row">
        <div class="col-12 sortable-grid ui-sortable"></div>
      </div>
    </div><!-- /#center-main-cont -->

    <div id="mim_panel_div">
      <div id="mim_panel_title">분전반 현황</div>
      <div id="mim_panel_body">
        <div id="mim_panel_inner_body">
          <div id="mim_panel_img">
            <div id="mim_panel_img_left">
              <div class="d-flex align-items-center">
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_rect">1AA</div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 5px;">
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_rect">1AA</div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 5px;">
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_rect">1AA</div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 5px;">
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_rect">1AA</div>
              </div>
            </div><!-- /#mim_panel_img_left -->
            <div id="mim_panel_img_center">분전반</div>
            <div id="mim_panel_img_right">
              <div class="d-flex align-items-center">
                <div class="mim_panel_img_rect">1AA</div>
                <hr slass="mim_panel_img_hr" />
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 5px;">
                <div class="mim_panel_img_rect">1AA</div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 5px;">
                <div class="mim_panel_img_rect">1AA</div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 5px;">
                <div class="mim_panel_img_rect">1AA</div>
                <hr class="mim_panel_img_hr" />
                <div class="mim_panel_img_circle" style="background: #00B050;"></div>
              </div>
            </div><!-- /#mim_panel_img_right -->
          </div><!-- /#mim_panel_img -->
          <div id="mim_panel_legend">
            <div class="d-flex align-items-center">
              <div class="mim_panel_legend_rect" style="background-color: #00B050;"></div>
              <div class="mim_panel_legend_txt">정상</div>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 11px;">
              <div class="mim_panel_legend_rect" style="background-color: #FFBF87;"></div>
              <div class="mim_panel_legend_txt">주의</div>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 11px;">
              <div class="mim_panel_legend_rect" style="background-color: #FF2F44;"></div>
              <div class="mim_panel_legend_txt">경고</div>
            </div>
          </div><!-- /#mim_panel_legend -->
        </div><!-- /#mim_panel_inner_body -->
      </div><!-- /#mim_panel_body -->
    </div><!-- /#mim_panel_div -->

    <div class="center-store-cont">
      <div class="row center-top p-1">
        <div class="area-name col-4"></div>
        <div class="area-stat col-8">
          전체<span class="total" style="color: #afd9ee;"></span> |
          경고<span class="danger" style="color: #e082ae;"></span> |
          주의<span class="warn" style="color: #dbc969;"></span> |
          끊김<span class="discon" style="color: #dddddd;"></span>
        </div><!-- /.area-stat col-8 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="center-left col-md-3 col-12">
          <div class="center-left-sensor-list"></div>
        </div><!-- /.col-md-3 -->
        <div class="center-cont col-md-9 col-12">
          <div class="row center-cont-top">
            <div class="store-name col-4"></div>
            <div class="cont-btn col-8">
              <span class="center-cont-top-btn on" data-page="Info">기본정보</span>
              <span class="center-cont-top-btn" data-page="Log">경보이력</span>
              <span class="center-cont-top-btn" data-page="Chart">분석차트</span>
              <span class="center-main-btn">Main Page</span>
            </div><!-- /.col-8 -->
          </div><!-- /.row -->
          <div class="row center-cont-page"></div>
        </div><!-- /.col-md-9 -->
      </div><!-- /.row -->
    </div><!-- /.center-store-cont -->
  </div><!-- /.center -->
  <div class="right col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/incheon/layout/mi_right"></th:block>
  </div>
</div><!-- /.row -->
<div class="bottom">
  <th:block th:replace="mng/incheon/layout/mi_bottom"></th:block>
</div>

<script th:src="@{/fs/js/polyfill.min.js}"></script>
<script th:src="@{/fs/js/apexcharts.js}"></script>

<script type="text/javascript" th:src="${naverMap}"></script>

<script type="text/javascript">
$(function () {
  fn_mim_init();
});

function fn_mim_init() {
  $.template(
    'center-left-store',
    '<p class="{{html STATE}}" data-areacode="{{html AREACODE}}" data-strcode="{{html STRCODE}}" data-strname="{{html STRNAME}}">' +
      '({{html SNSRCOUNT}}) {{html STRNAME}} <span class="cnt2">{{html CNT2}}</span><span>{{html CNT}}</span>' +
      '</p>'
  );

  fn_mim_initMainAreaList();
}

function fn_mim_initMainAreaList() {
  window.min_category = [];

  for (let i = 0; i < 24; i++)
    for (let j = 0; j < 6; j++)
      window.min_category.push(('0' + i).slice(-2) + ':' + (j + '0'));

  $.post(
    $('#contextRoot').val() + '/mng/incheon/areaListAjax',
    {},
    function (d) {
      $('.center-main-cont .sortable-grid').html('');

      if (d) {
        window.area = d;
        window.areaIndex = {};
        window.lv1cnt = 0;

        for (let i = d.length - 1; i >= 0; i--) {
          if (d[i].LEVEL != 1) {
            window.lv1cnt++;
            window.areaIndex[d[i].CODE] = i;

            $.post(
              $('#contextRoot').val() + '/mng/incheon/mainArea',
              { panel_index: 'panel-' + d[i].CODE, areacode: d[i].CODE },
              function (cont) {
                let $temp = $('<div>');
                $temp.html(cont);

                $('.center-main-cont .sortable-grid').append($temp.find('.sub-cont').html());

                if (window.lv1cnt == $('.center-main-cont .panel').length) {
                  $('#center-main-cont').smartPanel({ localStorage: true });

                  $($('.center-main-cont .js-panel-collapse')[0]).addClass("on");
                  $($('.center-main-cont .panel-container')[0]).addClass('show');
                  $($('.center-main-cont .js-panel-collapse')[1]).addClass("on");
                  $($('.center-main-cont .panel-container')[1]).addClass('show');
                }

                window.center_name = 'main';
                fn_mim_toggleCenterCont();
              }
            );
          }}}

      fn_mim_loadMainAreaList();
    });
}

function fn_mim_toggleCenterCont() {
  if (window.center_name == 'main') {
    $('.center-main-cont').show();
    $('.center-store-cont').hide();
  } else {
    $('.center-main-cont').hide();
    $('.center-store-cont').show();
  }
}

function fn_mim_loadMainAreaList() {
  fn_mim_updateMainAreaList();
}

function fn_mim_updateMainAreaList(id) {
  $.post(
    $('#contextRoot').val() + '/mng/incheon/areaListAjax',
    {},
    function (d) {
      if (d) {
        window.area = d;
        window.areaIndex = {};

        for (let i = d.length - 1; i >= 0; i--)
          if (d[i].LEVEL != 1)
            window.areaIndex[d[i].CODE] = i;

        let show_panel = $('.center-main-cont .panel-container');

        for (let i = 0; i < show_panel.length; i++)
          fn_mim_setMainArea($(show_panel[i]).attr('data-id').replace('panel-', ''), id);
      }});
}

function fn_mim_setMainArea(i, id) {
  let panel_id = 'panel-' + i;

  $('#' + panel_id + ' .center-main-area-title').text(window.area[window.areaIndex[i]].NAME);
  $('#' + panel_id + ' .center-main-area-count-store').text(window.area[window.areaIndex[i]].STORE);
  $('#' + panel_id + ' .center-main-area-count-sensor').text(window.area[window.areaIndex[i]].SENSOR);
  $('#' + panel_id + ' .center-main-area-count-danger').text(window.area[window.areaIndex[i]].DANGER);
  $('#' + panel_id + ' .center-main-area-count-warn').text(window.area[window.areaIndex[i]].WARN);
  $('#' + panel_id + ' .center-main-area-count-discon').text(window.area[window.areaIndex[i]].DISCON);

  if (typeof id === 'undefined') {
    if ($('#' + panel_id).hasClass('panel-fullscreen')
        || $('#' + panel_id + ' .panel-container').hasClass('show')) {
      $.post(
        $('#contextRoot').val() + '/mng/incheon/mainAreaDataAndLogChartAjax',
        { areacode: i },
        function (resu) {
          fn_mim_setChart('데이터 수신 현황', '#' + panel_id + ' .center-main-data-chart', resu.data, ['#99ccff','#003399']);
          fn_mim_setChart('경보 발생 현황', '#' + panel_id + ' .center-main-log-chart', resu.log, ['#ff9966','#cc3300']);
        });
    }
  } else {
    if ($('#' + panel_id).hasClass('panel-fullscreen') && panel_id === id.replace("#", "")
        || $('#' + panel_id + ' .panel-container').hasClass('show') && panel_id === id.replace("#", "")) {
      $.post(
        $('#contextRoot').val() + '/mng/incheon/mainAreaDataAndLogChartAjax',
        { areacode: i },
        function (resu) {
          fn_mim_setChart('데이터 수신 현황', '#' + panel_id + ' .center-main-data-chart', resu.data, ['#99ccff','#003399']);
          fn_mim_setChart('경보 발생 현황', '#' + panel_id + ' .center-main-log-chart', resu.log, ['#ff9966','#cc3300']);
        });
    }}
}

function fn_mim_setChart(title, target, data, colors) {
  let opt = {
    series: [],
    chart: { height: 250, type: 'line', id: target, animations: { enabled: false } },
    title: { text: title, align: 'left' },
    colors: colors,
    stroke: { width: 2 },
    dataLabels: { enabled: false },
    tooltip: {
      enabled: true,
      marker: { show: true },
      fixed: { enabled: true, position: 'topLeft' },
      y: { formatter: function (val) { return (val) ? val.toFixed(0) : null; } }
    },
    xaxis: { categories: window.min_category, tickAmount: 11, labels: { rotate: 0 } },
    yaxis: {
      lines: { show: true },
      tooltip: { enabled: true },
      labels: { formatter: function (val) { return (val) ? val.toFixed(0) : null; } }
    },
    legend: { position: 'top' }
  };

  let series = [{ name: '어제', data: [] }, { name:'오늘', data: [] }];
  let j = 0;
  let now_time = fn_milt_dateToString(new Date()).slice(11, 15) + '0';

  for (let i = 0; i < window.min_category.length; i++)
    if (j < data.length && data[j].TYPE == '1' && data[j].RCVTIME == window.min_category[i])
      series[0].data.push(data[j++].CNT);
    else if (window.min_category[i])
      series[0].data.push(0);

  for (let i = 0; i < window.min_category.length; i++)
    if (j < data.length - 1 && data[j].RCVTIME == window.min_category[i])
      series[1].data.push(data[j++].CNT);
    else if (window.min_category[i] < now_time)
      series[1].data.push(0);

  opt.markers = { size: 0, hover: { size: 0 } };

  let target_id = target.replace(/ /g,'-');
  if (window['chart-' + target_id]) {
    window['chart-' + target_id].updateOptions(opt);
    window['chart-' + target_id].updateSeries(series);
  } else {
    opt.series = series;
    $(target).html('');

    window['chart-' + target_id] = new ApexCharts(document.querySelector(target), opt);
    window['chart-' + target_id].render().then(function () {});
  }
}

let refreshTime = window.setInterval(function () {
  if (new Date().getMinutes() % 10 === 2)
    fn_mim_refresh();
}, 60 * 1000);

function fn_mim_refresh() {
  fn_milt_refreshTop();
  fn_mill_refreshLeft();
  fn_milr_refreshRight();

  if (window.center_name == 'main')
    fn_mim_updateMainAreaList();
}
</script>
</body>
</html>