// Here you can add other styles
.c-sidebar {
  width: 210px;
}

.align-item-center {
  align-items: center !important;
}

@media (min-width: 992px) and (min-width: 992px) {
  html:not([dir=rtl]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper, html:not([dir=rtl]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
    margin-left: 210px;
  }
}

@media (min-width: 1580px) {
  .fixed-right-form {
    position: fixed;
    left: 48%;
    //top: 15%;
    width: 52%;
  }
}

table tr {
  cursor: pointer;
}

.btn-custom {
  color: #fff;
  background-image: linear-gradient(310deg,#141727,#3a416f);
  font-weight: bold;
  font-size: 0.825rem;
}

.btn-custom-info {
  color: #fff;
  background-image: linear-gradient(310deg,#2152ff,#21d4fd);
  font-weight: bold;
  font-size: 0.825rem;
}

.btn-custom:hover, .btn-custom-info:hover{
  color: #fff;
}

.textarea-height {
  height: 20vh !important;
}

.ct-mt {
  margin-top: 0.3rem;
}

.c-switch-label .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(35px);
}

.c-switch-label {width: 65px;}

.anticon {vertical-align: 0 !important;}

.site-tree-search-value, .required-span { color : red }

.custom-bootstrap-table { height: 500px; overflow-y: auto; }

.search-label { width : 100%; }

.MuiDropzonePreviewList-removeButton {top: 13px !important; right: 28px !important;}

.label-text {
  font-size: 12px;
  margin-top: 0.3rem;
}

.strModal > .react-bootstrap-table-pagination {
  flex: 0 0 100%;
  max-width: 100%;
  display: block;
}

@media print {
  /* 크롬에만 적용 */
  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {

  }
  .printRow {
    page-break-after: always !important;
    font-size: 1.1rem;
  }
}
