<meta charset="utf-8">
<title>Firesens Manager (Daejeon Smart city Challenge)</title>
<meta name="description" content="Analytics Dashboard" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui" />
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no" />
<!-- base css -->
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/fs/img/favicon/favicon.ico}" />
<link id="vendorsbundle" rel="stylesheet" media="screen, print" th:href="@{/smartadmin/css/vendors.bundle.css}" />
<link id="appbundle" rel="stylesheet" media="screen, print" th:href="@{/smartadmin/css/app.bundle.css}" />
<link id="mytheme" rel="stylesheet" media="screen, print" th:href="@{/smartadmin/css/themes/cust-theme-8.css}" />
<link id="myskin" rel="stylesheet" media="screen, print" th:href="@{/smartadmin/css/skins/skin-master.css}" />
<!-- additional css -->
<link rel="stylesheet" type="text/css" th:href="@{/fs/css/apexcharts.css}" />
<!-- base javascript -->
<script type="text/javascript" th:src="@{/fs/js/jquery.js}"></script>

