<div class="row">
  <div class="col-12">
    <div class="sensors-DANGER" style="border: 1px solid #ff2f44;">
      <h3 class="bg-danger"><i class="fal fa-siren-on"></i> 경고 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-DANGER -->
    <div class="sensors-WARN" style="border: 1px solid #ffbf87;">
      <h3 class="bg-warning"><i class="fal fa-exclamation-triangle"></i> 주의 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-WARN -->
    <div class="sensors-BROKEN" style="border: 1px solid #6c757d;">
      <h3 class="bg-secondary"><i class="fal fa-sensor-alert"></i> 고장 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-BROKEN -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->

<script type="text/javascript">
$(function() {
  fn_mlr_initRight();
});

function fn_mlr_initRight() {
  $.template(
    'right-sensor',
    '<p class="right-sensor" data-areacode="{{html AREACODE}}" data-strcode="{{html STRCODE}}" data-code="{{html SNSRID}}">' +
      '{{html AREANAME}}_{{html SNSRNICK}} ({{html CNT}})' +
    '</p>'
  );

  $('.list-sensor').on('click', 'p', function() {
    fn_mm_clickRightSensor($(this).attr('data-areacode'), $(this).attr('data-strcode'), $(this).attr('data-code'));
  });

  fn_mlr_getRightSensorList();
}

function fn_mlr_refreshRight() {
  fn_mlr_getRightSensorList();
}

function fn_mlr_getRightSensorList() {
  $.post($('#contextRoot').val() + '/mng/sensorListAjax', {}, function(d) {
    $('.list-sensor').html('');

    for (let i = 0; i < d.length; i++)
      $('.sensors-' + d[i].STATE + ' .list-sensor').append($.tmpl('right-sensor', d[i]));

    $('.sensors-DANGER .cnt').text('(' + $('.sensors-DANGER .list-sensor p').length + ')');
    $('.sensors-WARN .cnt').text('(' + $('.sensors-WARN .list-sensor p').length + ')');
    $('.sensors-BROKEN .cnt').text('(' + $('.sensors-BROKEN .list-sensor p').length + ')');
  });
}
</script>