<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
<title>FireSense 대전시 자치구별 현황</title>
<th:block th:replace="mng/challenge/districtLayout/mc_d_header"></th:block>

<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/statistics/chart.css}" />
<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/datagrid/datatables/datatables.bundle.css}" />
<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/custom/am_common.css}" />
<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/statistics/chartist.css}" />

<style>
.page-content-wrapper { background-color: #222222; }

.mcd_topTitle { background-color: #4771d0; width: 33%; text-align: center; }
.mcd_topTitleSpan { letter-spacing: 0.3rem; font-size: 2rem; font-weight: 400; }

.mcd_mainTitle { border-bottom: 1px solid #ccc; padding-bottom: 2px; }
.mcd_mainTitleBadge { padding: 0.65rem 1.25rem 0.45rem 1.25rem; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; margin-left: 2vh; }

#mcd_leftDiv { padding-left: 3vh; }
.mcd_leftSpanTxt { color: #aaaaaa; font-size: 1rem; }
.mcd_leftKwhImg { width: 100%; max-width: 20px; margin-right: 5px; }
.arrow-icon { width: 16px; height: 16px; margin-left: 1vh; }

#mcd_snsrNormalCnt, #mcd_warningCnt, #mcd_dangerCnt { margin-left: 0.5rem !important; margin-bottom: 0; }
#mcd_yesterdayKwh, #mcd_lastWeekKwh, #mcd_lastMonthKwh, #mcd_yesterdayT, #mcd_lastWeekT, #mcd_lastMonthT { margin-left: 0.75rem !important; margin-bottom: 0; }

#mcd_snsrTotalCnt { color: #ffe490; font-weight: 900; font-size: 1.5rem; }
#mcd_todayElecEvtChart { width: 100%; height: 240px; margin-top: 15px; }
.mcd_todayElecEvtChartWarning { stroke: #ffc000; fill: #ffc000; }
.mcd_todayElecEvtChartDanger { stroke: #ed7d31; fill: #ed7d31; }
.mcd_todayElecEvtChartDisconn { stroke: #36a2eb; fill: #36a2eb; }
.mcd_todayChartLabels { font-size: 1.2rem; color: #fff; margin-left: 10px; }
.ct-label { font-size: 1.2rem; fill: #fff; }
.round-span { padding: 10px; width: 1vh; height: 1vh; }

#mcd_daejeonMap { width: 67% } 
.js-data-attributes { position: absolute; }

.line-badge { background-color: #2196F3; cursor: auto; width: 21px !important; height: 3px !important; padding: 0px; border-radius: 0px !important; }
.mcd_guLabels { font-size: 0.9rem; color: #fff; margin-left: 10px; }
#mcd_guElecEvtChart { height: 290px; display: block; width: 100%; margin-top: 3.5rem !important;  }
#mcd_guKwhChart { height: 290px; display: block; width: 100%; margin-top: 0.75rem !important; }
</style>

<body class="mod-bg-1 nav-function-minify">
<div class="page-wrapper">
  <div class="page-inner">
    <div class="page-content-wrapper">
      <div class="d-flex justify-content-start">
        <div class="p-2 mcd_topTitle">
          <h2 class="m-0 mcd_topTitleSpan">대전시 자치구별 현황</h2>
        </div><!-- /.p-2 mcd_topTitle -->
      </div><!-- /.d-flex justify-content-start -->

      <main id="js-page-content" role="main" class="page-content first-main-page">
        <div class="row">
          <div class="col-md-3 col-sm-12" id="mcd_leftDiv">
            <div>
              <h3 class="mcd_mainTitle">전기안전 현황<span class="badge badge-info mcd_mainTitleBadge">어제</span></h3>
              <div class="row mb-3 ml-0 mr-0">
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img th:src="@{/fs/img/district/greenIcon.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">정상</span>
                  <h3 id="mcd_snsrNormalCnt">4,444</h3>
                  <img class="arrow-icon" th:src="@{/fs/img/district/up-arrow.png}" alt="icon" />
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img th:src="@{/fs/img/district/yellowIcon.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">주의</span>
                  <h3 id="mcd_warningCnt">111</h3>
                  <img class="arrow-icon" th:src="@{/fs/img/district/down-arrow.png}" alt="icon" />
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img th:src="@{/fs/img/district/redIcon.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">경고</span>
                  <h3 id="mcd_dangerCnt">232</h3>
                  <img class="arrow-icon" th:src="@{/fs/img/district/down-arrow.png}" alt="icon" />
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
              </div><!-- /.row mb-3 ml-0 mr-0 -->
            </div><!-- // -->
            <div>
              <h3 class="mcd_mainTitle">전력사용 현황 (MWh)</h3>
              <div class="row mb-3 ml-0 mr-0">
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img class="mcd_leftKwhImg" th:src="@{/fs/img/district/redVolt.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">어제</span>
                  <h3 id="mcd_yesterdayKwh">136</h3>
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img class="mcd_leftKwhImg" th:src="@{/fs/img/district/yellowVolt.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">지난주</span>
                  <h3 id="mcd_lastWeekKwh">948</h3>
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img class="mcd_leftKwhImg" th:src="@{/fs/img/district/blueVolt.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">지난달</span>
                  <h3 id="mcd_lastMonthKwh">2,164</h3>
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
              </div><!-- /.row mb-3 ml-0 mr-0 -->
            </div><!-- // -->
            <div>
              <h3 class="mcd_mainTitle">탄소배출량 현황 (Ton)</h3>
              <div class="row mb-3 ml-0 mr-0">
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img class="mcd_leftKwhImg" th:src="@{/fs/img/district/redVolt.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">어제</span>
                  <h3 id="mcd_yesterdayT">0.114</h3>
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img class="mcd_leftKwhImg" th:src="@{/fs/img/district/yellowVolt.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">지난주</span>
                  <h3 id="mcd_lastWeekT">0.223</h3>
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
                <div class="col-4 p-0 d-flex justify-content-start align-items-center">
                  <img class="mcd_leftKwhImg" th:src="@{/fs/img/district/blueVolt.png}" alt="icon" />
                  <span class="mcd_leftSpanTxt">지난달</span>
                  <h3 id="mcd_lastMonthT">2.112</h3>
                </div><!-- /.col-4 p-0 d-flex justify-content-start align-items-center -->
              </div><!-- /.row mb-3 ml-0 mr-0 -->
            </div><!-- // -->
            <div>
              <div class="mcd_mainTitle d-flex justify-content-between align-items-center">
                <h3 class="mb-0">금일 위험 현황</h3>
                <h4 class="mb-0">전체 센서 수&nbsp;&nbsp;<span id="mcd_snsrTotalCnt">4,191</span>개</h4>
              </div><!-- /.mcd_mainTitle d-flex justify-content-between align-items-center -->
              <div class="row">
                <div class="col-8">
                  <div id="mcd_todayElecEvtChart" class="ct-chart"></div>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center">
                  <div class="p-1 d-flex justify-content-center">
                    <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #ffc000; cursor: auto;"></span>
                    <span class="mcd_todayChartLabels">주의</span>
                  </div><!-- /.p-1 d-flex justify-content-center -->
                  <div class="mt-2 p-1 d-flex justify-content-center">
                    <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #ed7d31; cursor: auto;"></span>
                    <span class="mcd_todayChartLabels">경고</span>
                  </div><!-- /.p-1 d-flex justify-content-center -->
                  <div class="mt-2 p-1 d-flex justify-content-center">
                    <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #36a2eb; cursor: auto;"></span>
                    <span class="mcd_todayChartLabels">끊김</span>
                  </div><!-- /.p-1 d-flex justify-content-center -->
                </div><!-- /.col-4 d-flex flex-column justify-content-center -->
              </div><!-- /.row -->
            </div><!-- // -->
            <div class="mt-2">
              <h3 class="mcd_mainTitle mb-3">전일대비 전력 사용량</h3>
              <div class="row">
                <div class="col-8">
                  <div id="mcd_toadyKwhPerChart" data-peity='{ "fill": ["#2196F3", "#e6e7e8"], "innerRadius": 70, "radius": 37, "height": "240px", "width": "100%" }'>22/100</div>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center">
                  <div class="mt-2 p-1 d-flex justify-content-center">
                    <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #36a2eb; cursor: auto;"></span>
                    <span class="mcd_todayChartLabels">전력사용량</span>
                  </div><!-- /.p-1 d-flex justify-content-center -->
                </div>
              </div>
            </div><!-- // -->
          </div><!-- /#mcd_leftDiv -->

          <div class="col-md-5 col-sm-12">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center">
                  <img th:src="@{/fs/img/district/daejeon-map.png}" alt="icon" id="mcd_daejeonMap" />
      
                  <div class="js-data-attributes" style="left: 46.6%; top: 46%;">
                    <span id="mcd_elecEvtDonggu" data-peity='{ "fill": ["#ce306b", "#e6e7e8"], "innerRadius": 22, "radius": 30, "height": "75px", "width": "100%" }'>99/100</span>
                  </div>
                  <div class="js-data-attributes" style="left: 60%; top: 68%;">
                    <span id="mcd_kwhDonggu" class="bar-colours-2" data-peity='{ "height": 80, "width": 90 }'></span>
                  </div>
                  <div class="js-data-attributes" style="top: 80.5%; left: 60%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_yKwhDonggu">111</h5>
                    </div>
                  </div>
                  <div class="js-data-attributes" style="top: 80.5%; left: 65.6%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_tKwhDonggu">222</h5>
                    </div>
                  </div><!-- //동구-->

                  <div class="js-data-attributes" style="left: 32%; top: 52%;">
                    <span id="mcd_elecEvtJunggu" data-peity='{ "fill": ["#d90a14", "#e6e7e8"], "innerRadius": 22, "radius": 30, "height": "75px", "width": "100%" }'>99/100</span>
                  </div>
                  <div class="js-data-attributes" style="left: 45%; top: 73.5%;">
                    <span id="mcd_kwhJunggu" class="bar-colours-2" data-peity='{ "height": 80, "width": 90 }'></span>
                  </div>
                  <div class="js-data-attributes" style="top: 86%; left: 45%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_yKwhJunggu">111</h5>
                    </div>
                  </div>
                  <div class="js-data-attributes" style="top: 86%; left: 50.6%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_tKwhJunggu">222</h5>
                    </div>
                  </div><!-- //중구-->

                  <div class="js-data-attributes" style="left: 18.4%; top: 61%;">
                    <span id="mcd_elecEvtSeogu" data-peity='{ "fill": ["#627300", "#e6e7e8"], "innerRadius": 22, "radius": 30, "height": "75px", "width": "100%" }'>99/100</span>
                  </div>
                  <div class="js-data-attributes" style="left: 31.5%; top: 82.5%;">
                    <span id="mcd_kwhSeogu" class="bar-colours-2" data-peity='{ "height": 80, "width": 90 }'></span>
                  </div>
                  <div class="js-data-attributes" style="top: 95%; left: 31.5%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_yKwhSeogu">111</h5>
                    </div>
                  </div>
                  <div class="js-data-attributes" style="top: 95%; left: 37%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_tKwhSeogu">222</h5>
                    </div>
                  </div><!-- //서구-->

                  <div class="js-data-attributes" style="left: 10.2%; top: 28%;">
                    <span id="mcd_elecEvtYuseonggu" data-peity='{ "fill": ["#c08adc", "#e6e7e8"], "innerRadius": 22, "radius": 30, "height": "75px", "width": "100%" }'>99/100</span>
                  </div>
                  <div class="js-data-attributes" style="left: 34%; top: 27.2%;">
                    <span id="mcd_kwhYuseonggu" class="bar-colours-2" data-peity='{ "height": 80, "width": 90 }'></span>
                  </div>
                  <div class="js-data-attributes" style="top: 40.5%; left: 34.1%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_yKwhYuseonggu">111</h5>
                    </div>
                  </div>
                  <div class="js-data-attributes" style="top: 40.5%; left: 39.6%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_tKwhYuseonggu">222</h5>
                    </div>
                  </div><!-- //유성구-->

                  <div class="js-data-attributes" style="left: 34%; top: 16%;">
                    <span id="mcd_elecEvtDaedeokgu" data-peity='{ "fill": ["#f26f00", "#e6e7e8"], "innerRadius": 22, "radius": 30, "height": "75px", "width": "100%" }'>99/100</span>
                  </div>
                  <div class="js-data-attributes" style="left: 58%; top: 15%;">
                    <span id="mcd_kwhDaedeokgu" class="bar-colours-2" data-peity='{ "height": 80, "width": 90 }'></span>
                  </div>
                  <div class="js-data-attributes" style="top: 28.2%; left: 58%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_yKwhDaedeokgu">111</h5>
                    </div>
                  </div>
                  <div class="js-data-attributes" style="top: 28.2%; left: 63.5%; width: 45px;">
                    <div class="d-flex justify-content-center align-items-center align-content-center text-center">
                      <h5 class="mb-0 small-chart-text text-white" id="mcd_tKwhDaedeokgu">222</h5>
                    </div>
                  </div><!-- //대덕구-->
                </div><!-- /.d-flex justify-content-center -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->

            <div class="row" style="padding-left: 0; padding-right: 0; padding-top: 2vh;">
              <div class="col-6 pl-0 pr-0">
                <div class="d-flex" style="border-bottom: 1px solid #ccc;">
                  <div class="p-2 flex-fill"><h3 class="m-0">자치구별 전월대비 이벤트 발생현황</h3></div>
                  <div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">
                    <h4 class="m-0" style="color: #fff; margin-left: 1vh;">(단위 : %)</h4>
                  </div>
                </div><!-- /.d-flex -->
                <div class="mt-2">
                  <canvas id="mcd_guElecEvtChart"></canvas>
                </div><!-- /.mt-2 -->
              </div>
              <div class="col-6 pl-1 pr-0">
                <div class="d-flex" style="border-bottom: 1px solid #ccc;">
                  <div class="p-2 flex-fill"><h3 class="m-0">자치구별 전월대비 전력사용량</h3></div>
                </div><!-- /.d-flex -->
                <div class="mt-2">
                  <div class="d-flex flex-column">
                    <div class="d-flex justify-content-start">
                      <span class="line-badge d-flex align-content-center align-items-center justify-content-center"
                            style="background-color: #2196F3; cursor: auto; margin-top: 6px;"></span>
                      <span class="mcd_guLabels">전월대비 시간당 전력사용 비율 (단위 : %)</span>
                    </div><!-- /.p-1 d-flex justify-content-start -->
                    <div class="d-flex justify-content-start">
                      <span class="btn-icon rounded-circle waves-effect waves-themed round-span"
                            style="background-color: #627594; cursor: auto;"></span>
                      <span class="mcd_guLabels">금월 전력사용량 (단위 : MWh)</span>
                    </div><!-- /.p-1 d-flex justify-content-start -->
                  </div><!-- /.d-flex -->

                  <canvas id="mcd_guKwhChart"></canvas>
                </div><!-- /.mt-2 -->
              </div>
            </div><!-- /.row -->
          </div><!-- /.col-md-5 col-sm-12 -->

          <div class="col-md-4 col-sm-12">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center">
                  <div class="p-3" style="background-color: #4771d0; width: 100%; text-align: center; border-radius: 5px;">
                    <span id="todayDate"></span>
                    <span id="realTime"></span>
                  </div><!-- /.p-3 -->
                </div><!-- /.d-flex justify-content-center -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
            <div class="row" style="margin-top: 4vh;">
              <div class="col-xl-12">
                <div class="d-flex" style="border-bottom: 1px solid #ccc;">
                  <div class="p-2 flex-fill"><h2 class="m-0">금일 누적 현황</h2></div>
                  <div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">
                    <img th:src="@{/fs/img/district/yellowIcon.png}" alt="icon" />
                    <span style="color: #898989; margin-left: 1vh;">주의</span>
                  </div><!-- /.p-2 flex-fill d-flex justify-content-end align-content-center align-items-center -->
                  <div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">
                    <img th:src="@{/fs/img/district/redIcon.png}" alt="icon" />
                    <span style="color: #898989; margin-left: 1vh;">경고</span>
                  </div><!-- /.p-2 flex-fill d-flex justify-content-end align-content-center align-items-center -->
                </div><!-- /.d-flex -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
            <div class="row pt-3">
              <div class="col-xl-12" id="areaList"></div>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 col-sm-12 -->
        </div><!-- /.row -->
      </main>

      <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
      <th:block th:replace="mng/challenge/districtLayout/mc_d_footer"></th:block>
    </div><!-- /.page-content-wrapper -->
  </div><!-- /.page-inner -->
</div><!-- /.page-wrapper -->

<th:block th:replace="mng/challenge/districtLayout/mc_d_bottom"></th:block>

<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

<script th:src="@{/fs/js/statistics/chart.js}"></script>
<script th:src="@{/fs/js/statistics/utils.js}"></script>
<script th:src="@{/fs/js/statistics/chartist.js}"></script>
<script th:src="@{/fs/js/statistics/peity.bundle.js}"></script>

<script>
let contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

$(function () {

  new Chartist.Pie('#mcd_todayElecEvtChart', 
    {
      series: [
        { value: 444, className: "mcd_todayElecEvtChartWarning" },
        { value: 11, className: "mcd_todayElecEvtChartDanger" }, 
        { value: 22, className: "mcd_todayElecEvtChartDisconn" }
      ] 
    },
    { donut: true, donutWidth: 60, donutSolid: true, startAngle: 270 }
  );

  $('#mcd_toadyKwhPerChart').peity('donut', {
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#fff', 'font-size': "2.5rem", 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 12 })
          .text(22 + "%")
      );
    }
  });

  $('#mcd_elecEvtDonggu').peity('donut', {
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#000', 'font-size': "1.1rem", 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 5 })
          .text($.number(22))
      );
    }
  });

  $("#mcd_kwhDonggu").text("111,222");

  $('#mcd_elecEvtJunggu').peity('donut', {
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#000', 'font-size': "1.1rem", 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 5 })
          .text($.number(22))
      );
    }
  });

  $("#mcd_kwhJunggu").text("111,222");

  $('#mcd_elecEvtSeogu').peity('donut', {
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#000', 'font-size': "1.1rem", 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 5 })
          .text($.number(22))
      );
    }
  });

  $("#mcd_kwhSeogu").text("111,222");

  $('#mcd_elecEvtYuseonggu').peity('donut', {
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#000', 'font-size': "1.1rem", 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 5 })
          .text($.number(22))
      );
    }
  });

  $("#mcd_kwhYuseonggu").text("111,222");

  $('#mcd_elecEvtDaedeokgu').peity('donut', {
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#000', 'font-size': "1.1rem", 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 5 })
          .text($.number(22))
      );
    }
  });

  $("#mcd_kwhDaedeokgu").text("111,222");
  $(".bar-colours-2").peity("bar", { fill: ["#2196F3", "#FF684A"] });

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  let bar_ctx = document.getElementById('mcd_guElecEvtChart').getContext('2d');
  let background_1 = bar_ctx.createLinearGradient(0, 0, 0, 310);
  background_1.addColorStop(0, '#f58a39');
  background_1.addColorStop(1, '#fbcf33');

  let mcd_guElecEvtChart = new Chart($("#mcd_guElecEvtChart"), {
    type: 'bar',
    data:  { 
      labels: ['동구', '중구', '서구', '유성구', '대덕구'],
      datasets: [{ label: '', backgroundColor: background_1, borderWidth: 1, data: [50, 33, 84, 56, 39] }] 
    },
    options: {
      responsive: false,
      legend: { position: 'bottom',  display: false },
      hover: { animationDuration: 0 },
      scales: {
        yAxes : [{ ticks : { fontSize: 11 }, afterDataLimits(scale) { scale.max += 30; } }],
        xAxes : [{ ticks: { fontColor: "white", fontSize: 15 } }]
      },
      animation: {
        duration: 1,
        onComplete: function () {
          let chartInstance = this.chart, ctx = chartInstance.ctx;
          ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
          ctx.textAlign = 'center';
          ctx.textBaseline = 'bottom';

          this.data.datasets.forEach(function (dataset, i) {
            let meta = chartInstance.controller.getDatasetMeta(i);

            meta.data.forEach(function (bar, index) {
              let data = dataset.data[index];
              ctx.fillStyle = "#fff";
              ctx.font = "bold 13px 'NanumBarunGothic', sans-serif";
              ctx.fillText(data, bar._model.x, bar._model.y);
            });
          });
      }},
      title: { display: false, text: '' }
    }
  });

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  bar_ctx = document.getElementById('mcd_guKwhChart').getContext('2d');
  background_1 = bar_ctx.createLinearGradient(0, 0, 0, 310);

  background_1.addColorStop(0, '#374268');
  background_1.addColorStop(1, '#78849c');

  let mcd_guKwhChart = new Chart($("#mcd_guKwhChart"), {
    type: 'bar',
    data: {
      labels: ['동구', '중구', '서구', '유성구', '대덕구'],
      datasets: [
        { type: 'line', label: '', yAxisID: 'A', fill: false, borderColor: 'rgb(54, 162, 235)', data: [779, 1057, 1693, 318, 959] },
        { type: 'bar', label: '', yAxisID: 'B', borderColor: background_1, backgroundColor: background_1, borderWidth: 1, data: [312, 5581, 5206, 1908, 2914] }
      ]
    },
    options: {
      responsive: false,
      legend: { position: 'bottom', display: false },
      "hover": { "animationDuration": 0 },
      scales: {
        yAxes : [
          { id: 'B', type: 'linear', position: 'left', ticks : { fontColor: "white", fontSize: 11 }, afterDataLimits(scale) { scale.max += 50; } },
          { id: 'A', type: 'linear', position: 'right', ticks: { fontColor: "white", fontSize: 11 } }
        ],
        xAxes : [{ ticks : { fontColor: "white", fontSize: 15 } }]
      },
      animation: {
        duration: 1,
        onComplete: function () {
          let chartInstance = this.chart, ctx = chartInstance.ctx;
          ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
          ctx.textAlign = 'center';
          ctx.textBaseline = 'bottom';

          this.data.datasets.forEach(function (dataset, i) {
            if (i === 1) {
              let meta = chartInstance.controller.getDatasetMeta(i);

              meta.data.forEach(function (bar, index) {
                let data = dataset.data[index];
                ctx.fillStyle = "#fff";
                ctx.font = "bold 13px 'NanumBarunGothic', sans-serif";

                ctx.fillText(data, bar._model.x, bar._model.y);
              });
            }
          });
      }},
      title: { display: false, text: '' }
    }
  });
  
});
</script>
</body>
</html>