<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
<title>FireSense 대전시 자치구별 전기위험현황</title>
<th:block th:replace="mng/challenge/districtLayout/mc_d_header"></th:block>

<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/statistics/chart.css}" />
<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/datagrid/datatables/datatables.bundle.css}" />
<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/custom/am_common.css}" />
<link rel="stylesheet" media="screen, print" th:href="@{/fs/css/statistics/chartist.css}" />

<style>
.ct-label { font-size: 1.4rem; fill: #fff; }
.top-title { background-color: #4771d0; width: 33%; text-align: center; }
.top-title-span { letter-spacing: 0.3rem; font-size: 2.2rem; font-weight: 400; }

.main-title { /*padding-bottom: 0.5vh;*/ border-bottom: 1px solid #ccc; }

.main-title-badge {
  padding: 0.65rem 1.25rem 0.45rem 1.25rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 2vh;
}

.arrow-icon { width: 16px; height: 16px; margin-left: 1vh; }
.round-span { padding: 10px; width: 1vh; height: 1vh; }

#todayDate { font-size: 1.7rem; color: #fff; font-weight: 900; }
#realTime { font-size: 1.7rem; color: #fff; font-weight: 400; }

.myclass1 { stroke: #ffc000; fill: #ffc000; }
.myclass2 { stroke: #ed7d31; fill: #ed7d31; }
.myclass3 { stroke: #36a2eb; fill: #36a2eb; }

.donggu-btn { background-color: #cd2a68; }
.junggu-btn { background-color: #c6000a; }
.seogu-btn { background-color: #5c6d00; }
.daedeokgu-btn { background-color: #f26e00; }
.yuseonggu-btn { background-color: #c08adc; }
.js-data-attributes { position: absolute; }
</style>
</head>

<body class="mod-bg-1 nav-function-minify">
<div class="page-wrapper">
  <div class="page-inner">
    <div class="page-content-wrapper" style="background-color: #222222;">
      <div class="d-flex justify-content-start">
        <div class="p-2 top-title">
          <h2 class="m-0 top-title-span">대전시 자치구별 전기위험현황</h2>
        </div><!-- /.p-2 top-title -->
      </div><!-- /.d-flex justify-content-start -->
      <main id="js-page-content" role="main" class="page-content first-main-page">
        <div class="row">
          <div class="col-3" style="padding-left: 5vh; padding-right: 4vh;">
            <div class="row" style="padding-bottom: 10vh;">
              <div class="col-xl-12">
                <h2 class="main-title">
                  전기안전 현황
                  <span class="badge badge-info main-title-badge">어제</span>
                </h2><!-- /.main-title -->
                <div class="d-flex justify-content-center mb-3">
                  <div style="padding: 0.25rem 1.0rem 0.25rem 1.0rem;">
                    <div class="d-flex flex-column">
                      <div style="margin-bottom: 1vh;">
                        <img th:src="@{/fs/img/district/greenIcon.png}" alt="icon" />
                        <span style="color: #aaaaaa; margin-left: 1vh; font-size: 1rem;">정상</span>
                      </div>
                      <div class="justify-content-center d-flex">
                        <h3 class="m-0" id="snsrCnt">0개</h3>
                        <img class="arrow-icon" th:src="@{/fs/img/district/up-arrow.png}" alt="icon" id="snsrImg" />
                      </div>
                    </div><!-- /.d-flex flex-column -->
                  </div><!-- padding: 0.25rem 1.0rem 0.25rem 1.0rem; -->
                  <div style="padding: 0.25rem 1.0rem 0.25rem 1.0rem;">
                    <div class="d-flex flex-column">
                      <div style="margin-bottom: 1vh;">
                        <img th:src="@{/fs/img/district/yellowIcon.png}" alt="icon" />
                        <span style="color: #aaaaaa; margin-left: 1vh; font-size: 1rem;">주의</span>
                      </div><!-- margin-bottom: 1vh; -->
                      <div class="d-flex justify-content-center">
                        <h3 class="m-0" id="warningCnt">0</h3>
                        <img class="arrow-icon" th:src="@{/fs/img/district/down-arrow.png}" alt="icon" id="warningImg" />
                      </div><!-- /.d-flex justify-content-center -->
                    </div><!-- /.d-flex flex-column -->
                  </div><!-- padding: 0.25rem 1.0rem 0.25rem 1.0rem; -->
                  <div style="padding: 0.25rem 1.0rem 0.25rem 1.0rem;">
                    <div class="d-flex flex-column">
                      <div style="margin-bottom: 1vh;">
                        <img th:src="@{/fs/img/district/redIcon.png}" alt="icon" />
                        <span style="color: #aaaaaa; margin-left: 1vh; font-size: 1rem;">경고</span>
                      </div><!-- margin-bottom: 1vh; -->
                      <div class="d-flex justify-content-center">
                        <h3 class="m-0" id="dangerCnt">0</h3>
                        <img class="arrow-icon" th:src="@{/fs/img/district/down-arrow.png}" alt="icon" id="dangerImg" />
                      </div><!-- /.d-flex justify-content-center -->
                    </div><!-- /.d-flex flex-column -->
                  </div><!-- padding: 0.25rem 1.0rem 0.25rem 1.0rem; -->
                </div><!-- /.d-flex justify-content-center mb-3 -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-xl-12">
                <h2 class="main-title" style="padding-bottom: 5px;">금일 위험 현황</h2>
                <div class="d-flex mb-3">
                  <div class="mr-auto p-2">
                    <div class="d-flex flex-column">
                      <!--<div>
                        <span style="font-size: 1.2rem; color: #aaaaaa;">전체</span>&nbsp;
                        <span style="color: #fff; font-weight: 900; font-size: 1.7rem;">상점수</span>&nbsp;
                        <span style="color: #ffe490; font-weight: 900; font-size: 1.7rem;" id="realStrCnt">0</span>
                        <span style="font-size: 1.2rem; color: #aaaaaa;">개</span></div>-->
                      <div>
                        <span style="font-size: 1.2rem; color: #aaaaaa;">전체</span>&nbsp;
                        <span style="color: #fff; font-weight: 900; font-size: 1.7rem;">센서수</span>&nbsp;
                        <span style="color: #ffe490; font-weight: 900; font-size: 1.7rem;" id="realSnsrCnt">0</span>
                        <span style="font-size: 1.2rem; color: #aaaaaa;">개</span>
                      </div>
                    </div><!-- /.d-flex flex-column -->
                  </div><!-- /.d-flex mb-3 -->
                  <div class="p-2">
                    <div class="d-flex flex-column">
                      <div class="p-1 d-flex justify-content-center">
                        <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #ffc000; cursor: auto;"></span>
                        <span style="font-size:1.2rem; color: #fff; margin-left: 10px;">주의</span>
                      </div><!-- /.p-1 d-flex justify-content-center -->
                      <div class="p-1 d-flex justify-content-center">
                        <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #ed7d31; cursor: auto;"></span>
                        <span style="font-size:1.2rem; color: #fff; margin-left: 10px;">경고</span>
                      </div><!-- /.p-1 d-flex justify-content-center -->
                      <div class="p-1 d-flex justify-content-center">
                        <span class="btn-icon rounded-circle waves-effect waves-themed round-span" style="background-color: #36a2eb; cursor: auto;"></span>
                        <span style="font-size:1.2rem; color: #fff; margin-left: 10px;">끊김</span>
                      </div><!-- /.p-1 d-flex justify-content-center -->
                    </div><!-- /.d-flex flex-column -->
                  </div><!-- /.p-1 -->
                </div><!-- /.d-flex mb-3 -->
                <div id="donutFill" class="ct-chart" style="width:100%; height:300px;"></div>
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
          </div><!-- /.col-3 -->
          <div class="col-6">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center">
                  <img th:src="@{/fs/img/district/daejeon-map.png}" alt="icon" style="width: 77%;" />
                  <div class="js-data-attributes" style="left: 63%; top: 46%;">
                    <span id="donggu" data-peity='{ "fill": ["#ce306b", "#e6e7e8"], "innerRadius": 13, "radius": 37 }'></span>
                  </div><!-- /.js-data-attributes -->
                  <div class="js-data-attributes" style="left: 46%; top: 52%;">
                    <span id="junggu" data-peity='{ "fill": ["#d90a14", "#e6e7e8"], "innerRadius": 13, "radius": 37 }'></span>
                  </div><!-- /.js-data-attributes -->
                  <div class="js-data-attributes" style="left: 30%; top: 61%;">
                    <span id="seogu" data-peity='{ "fill": ["#627300", "#e6e7e8"], "innerRadius": 13, "radius": 37 }'></span>
                  </div><!-- /.js-data-attributes -->
                  <div class="js-data-attributes" style="left: 26%; top: 29%;">
                    <span id="yuseonggu" data-peity='{ "fill": ["#c08adc", "#e6e7e8"], "innerRadius": 13, "radius": 37 }'></span>
                  </div><!-- /.js-data-attributes -->
                  <div class="js-data-attributes" style="left: 54%; top: 18%;">
                    <span id="daedeokgu" data-peity='{ "fill": ["#f26f00", "#e6e7e8"], "innerRadius": 13, "radius": 37 }'></span>
                  </div><!-- /.js-data-attributes -->
                </div><!-- /.d-flex justify-content-center -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
            <div class="row" style="padding-left: 5vh; padding-right: 5vh; padding-top: 2vh;">
              <div class="col-xl-12">
                <div class="d-flex" style="border-bottom: 1px solid #ccc;">
                  <div class="p-2 flex-fill"><h2 class="m-0">지역별 전월대비 이벤트발생현황</h2></div>
                  <div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">
                    <h4 class="m-0" style="color: #fff; margin-left: 1vh;">(단위 : %)</h4>
                  </div>
                </div><!-- /.d-flex -->

                <!--                <div class="d-flex" style="border-bottom: 1px solid #ccc;">-->
                <!--                  <div class="p-2 flex-fill d-flex align-content-end align-items-end"><h3 class="m-0">지역별 전월대비 이벤트발생현황</h3></div>-->
                <!--                </div>-->
              </div><!-- /.col-xl-12 -->
              <div class="col-xl-12 pt-2">
                <canvas id="localEventChart" style="height: 290px; display: block; width: 100%;"></canvas>
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
          </div><!-- /.col-6 -->
          <div class="col-3">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center">
                  <div class="p-3" style="background-color: #4771d0; width: 100%; text-align: center; border-radius: 5px;">
                    <span id="todayDate"></span>
                    <span id="realTime"></span>
                  </div><!-- /.p-3 -->
                </div><!-- /.d-flex justify-content-center -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
            <div class="row" style="margin-top: 4vh;">
              <div class="col-xl-12">
                <div class="d-flex" style="border-bottom: 1px solid #ccc;">
                  <div class="p-2 flex-fill"><h2 class="m-0">금일 누적 현황</h2></div>
                  <div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">
                    <img th:src="@{/fs/img/district/yellowIcon.png}" alt="icon" />
                    <span style="color: #898989; margin-left: 1vh;">주의</span>
                  </div><!-- /.p-2 flex-fill d-flex justify-content-end align-content-center align-items-center -->
                  <div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">
                    <img th:src="@{/fs/img/district/redIcon.png}" alt="icon" />
                    <span style="color: #898989; margin-left: 1vh;">경고</span>
                  </div><!-- /.p-2 flex-fill d-flex justify-content-end align-content-center align-items-center -->
                </div><!-- /.d-flex -->
              </div><!-- /.col-xl-12 -->
            </div><!-- /.row -->
            <div class="row pt-3">
              <div class="col-xl-12" id="areaList"></div>
            </div><!-- /.row -->
          </div><!-- /.col-3 -->
        </div><!-- /.row -->
      </main>

      <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
      <th:block th:replace="mng/challenge/districtLayout/mc_d_footer"></th:block>
    </div><!-- /.page-content-wrapper -->
  </div><!-- /.page-inner -->
</div><!-- /.page-wrapper -->

<th:block th:replace="mng/challenge/districtLayout/mc_d_bottom"></th:block>

<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

<script th:src="@{/fs/js/statistics/chart.js}"></script>
<script th:src="@{/fs/js/statistics/utils.js}"></script>
<script th:src="@{/fs/js/statistics/chartist.js}"></script>
<script th:src="@{/fs/js/statistics/peity.bundle.js}"></script>

<script>
let contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

$(function () {
  fn_mcds_dateToString();
  fn_mcds_init();

  setInterval(fn_mcds_refresh, 1000 * 60 * 60);
});

function fn_mcds_refresh() {
  fn_mcds_getYesterdayEventCompStatAjax();
  fn_mcds_getTodayEventStatAjax();
  fn_mcds_getCurrGuMapEventStat();
  fn_mcds_getMonthlyGuEventCompStatAjax();
  fn_mcds_getTodayGuAreaEventCompRankAjax();
}

function fn_mcds_dateToString() {
  let d = new Date();
  let day =  d.getFullYear() + '.' + ('0' + (d.getMonth() + 1)).slice(-2) + '.' + ('0' + d.getDate()).slice(-2);
  $("#todayDate").html(day + " ");
}

function fn_mcds_clock() {
  let d = new Date();
  let time = ('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2) + ':' + ('0' + d.getSeconds()).slice(-2);

  $("#realTime").text(time);
}

function fn_mcds_init() {
  fn_mcds_clock();
  setInterval(fn_mcds_clock, 1000);

  fn_mcds_getYesterdayEventCompStatAjax();
  fn_mcds_getTodayEventStatAjax();
  fn_mcds_getCurrGuMapEventStat();
  fn_mcds_getMonthlyGuEventCompStatAjax();
  fn_mcds_getTodayGuAreaEventCompRankAjax();
}

// 어제-오늘 비교 전기안전 현황
function fn_mcds_getYesterdayEventCompStatAjax() {
  $.get(contextPath + '/district/yesterdayEventCompStatAjax', function (d) {
    $("#snsrCnt").text($.number(d.TSNSRCNT) + "개");
    $("#warningCnt").text($.number(d.TWARNINGCNT));
    $("#dangerCnt").text($.number(d.TDANGERCNT));

    if (d.TSNSRCNT > d.YSNSRCNT)
      $("#snsrImg").attr("src", contextPath + "/fs/img/district/up-arrow.png");
    else if (d.TSNSRCNT < d.YSNSRCNT)
      $("#snsrImg").attr("src", contextPath + "/fs/img/district/down-arrow.png");
    else
      $("#snsrImg").attr("src", contextPath + "/fs/img/district/equal-arrow.png");

    if (d.TWARNINGCNT > d.YWARNINGCNT)
      $("#warningImg").attr("src", contextPath + "/fs/img/district/up-arrow.png");
    else if (d.TWARNINGCNT < d.YWARNINGCNT)
      $("#warningImg").attr("src", contextPath + "/fs/img/district/down-arrow.png");
    else
      $("#warningImg").attr("src", contextPath + "/fs/img/district/equal-arrow.png");

    if (d.TDANGERCNT > d.YDANGERCNT)
      $("#dangerImg").attr("src", contextPath + "/fs/img/district/up-arrow.png");
    else if (d.TDANGERCNT < d.YDANGERCNT)
      $("#dangerImg").attr("src", contextPath + "/fs/img/district/down-arrow.png");
    else
      $("#dangerImg").attr("src", contextPath + "/fs/img/district/equal-arrow.png");
  });
}

// 금일 위험현황
function fn_mcds_getTodayEventStatAjax() {
  $.get(contextPath + '/district/todayEventStatAjax', function (d) {
    $("#realStrCnt").text($.number(d.STRCNT));
    $("#realSnsrCnt").text($.number(d.SNSRCNT));

    new Chartist.Pie(
      '#donutFill',
      {
        series: [
          { value: d.WARNINGCNT, className: "myclass1" }, { value: d.DANGERCNT, className: "myclass2" }, { value: d.DISCONNCNT, className: "myclass3" }
        ]
      },
      { donut: true, donutWidth: 60, donutSolid: true, startAngle: 270, showLabel: true }
    );
  });
}

// 구별 지도 비교
function fn_mcds_getCurrGuMapEventStat () {
  $.get(contextPath + '/district/currGuMapEventStat', function (d) {
    $.each(d, function (idx, item) {
      if (item.GRPCODE === "30110")         // 동구
        fn_mcds_drawPeityDonut(item.SNSRCNT, item.DISCONNCNT, "donggu");
      else if (item.GRPCODE === "30140")    // 중구
        fn_mcds_drawPeityDonut(item.SNSRCNT, item.DISCONNCNT, "junggu");
      else if (item.GRPCODE === "30170")    // 서구
        fn_mcds_drawPeityDonut(item.SNSRCNT, item.DISCONNCNT, "seogu");
      else if (item.GRPCODE === "30200")    // 유성구
        fn_mcds_drawPeityDonut(item.SNSRCNT, item.DISCONNCNT, "yuseonggu");
      else if (item.GRPCODE === "30230")    // 대덕구
        fn_mcds_drawPeityDonut(item.SNSRCNT, item.DISCONNCNT, "daedeokgu");
    });
  });
}

function fn_mcds_drawPeityDonut(snsrCnt, disconnectCnt, className) {
  // let per = 10 * 100 / snsrCnt;
  let count = snsrCnt - disconnectCnt;
  $("#" + className).text(count.toString() + "/" + snsrCnt.toString());

  $('#' + className).peity('donut', {
    innerRadius: 20,
    radius: 40,
    after: function () {
      this.$svg.append(
        this
          .svgElement('text', { fill: '#333', 'font-size': 15, 'font-weight': 900, 'text-anchor': 'middle', x: this.scale(0, 0)[0], y: this.scale(0, 0)[1] + 5 })
          .text(snsrCnt)
      );
    }
  });
}

// 시장별 금일 누적 위험 현황
function fn_mcds_getTodayGuAreaEventCompRankAjax() {
  $.get(contextPath + '/district/todayGuAreaEventCompRankAjax', function (d) {
    $("#areaList").empty();

    let dongguCnt = 0;
    let jungguCnt = 0;
    let seoguCnt = 0;
    let yuseongCnt = 0;
    let daedeokguCnt = 0;

    $.each(d, function (idx, item) {
      if (item.GRPNAME === "동구")
        dongguCnt += item.THISDANGERCNT + item.THISWARNINGCNT;
      else if (item.GRPNAME === "중구")
        jungguCnt += item.THISDANGERCNT + item.THISWARNINGCNT;
      else if (item.GRPNAME === "서구")
        seoguCnt += item.THISDANGERCNT + item.THISWARNINGCNT;
      else if (item.GRPNAME === "유성구")
        yuseongCnt += item.THISDANGERCNT + item.THISWARNINGCNT;
      else if (item.GRPNAME === "대덕구")
        daedeokguCnt += item.THISDANGERCNT + item.THISWARNINGCNT;
    });

    let orderList = [
      { GRPNAME: "동구", SUMCNT: dongguCnt }, { GRPNAME: "중구", SUMCNT: jungguCnt }, { GRPNAME: "서구", SUMCNT: seoguCnt },
      { GRPNAME: "유성구", SUMCNT: yuseongCnt }, { GRPNAME: "대덕구", SUMCNT: daedeokguCnt }
    ];

    orderList.sort(function (a, b) { return b.SUMCNT - a.SUMCNT; });

    let btnClass = "";
    let guTotalWarningCntId = "";
    let guTotalWarningArrowId = "";
    let guTotalDangerCntId = "";
    let guTotalDangerArrowId = "";

    $.each(orderList, function (idx1, item1) {
      if (item1.GRPNAME === "동구") {
        btnClass = "donggu-btn";
        guTotalWarningCntId = 'donggu-warning-cnt', guTotalWarningArrowId = 'donggu-warning-arrow';
        guTotalDangerCntId = 'donggu-danger-cnt', guTotalDangerArrowId = 'donggu-danger-arrow';
      } else if (item1.GRPNAME === "중구") {
        btnClass = "junggu-btn";
        guTotalWarningCntId = 'junggu-warning-cnt', guTotalWarningArrowId = 'junggu-warning-arrow';
        guTotalDangerCntId = 'junggu-danger-cnt', guTotalDangerArrowId = 'junggu-danger-arrow';
      } else if (item1.GRPNAME === "서구") {
        btnClass = "seogu-btn";
        guTotalWarningCntId = 'seogu-warning-cnt', guTotalWarningArrowId = 'seogu-warning-arrow';
        guTotalDangerCntId = 'seogu-danger-cnt', guTotalDangerArrowId = 'seogu-danger-arrow';
      } else if (item1.GRPNAME === "유성구") {
        btnClass = "yuseonggu-btn";
        guTotalWarningCntId = 'yuseonggu-warning-cnt', guTotalWarningArrowId = 'yuseonggu-warning-arrow';
        guTotalDangerCntId = 'yuseonggu-danger-cnt', guTotalDangerArrowId = 'yuseonggu-danger-arrow';
      } else if (item1.GRPNAME === "대덕구") {
        btnClass = "daedeokgu-btn";
        guTotalWarningCntId = 'daedeokgu-warning-cnt', guTotalWarningArrowId = 'daedeokgu-warning-arrow';
        guTotalDangerCntId = 'daedeokgu-danger-cnt', guTotalDangerArrowId = 'daedeokgu-danger-arrow';
      }

      let html = [ '<div class="d-flex">'
                 ,   '<div class="p-2 flex-fill" style="width: 180px;"><h2><span class="badge pl-4 pr-4 pt-2 pb-2 ' + btnClass + '" style="font-weight: 900;">' + item1.GRPNAME + '</span></h2></div>'
                 ,   '<div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">'
                 ,     '<h3 class="m-0" id="' + guTotalWarningCntId + '" style="color: #ffc000;">0</h3>'
                 ,     '<img class="arrow-icon" id="' + guTotalWarningArrowId + '" src="' + (contextPath + '/fs/img/district/down-arrow.png') + '" alt="icon" />'
                 ,   '</div>'
                 ,   '<div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">'
                 ,     '<h3 class="m-0" id="' + guTotalDangerCntId + '" style="color: #ed7d31;">0</h3>'
                 ,     '<img class="arrow-icon" id="' + guTotalDangerArrowId + '" src="' + (contextPath + '/fs/img/district/down-arrow.png') + '" alt="icon" />'
                 ,   '</div>'
                 , '</div>' ].join("");

      $.each(d, function (idx2, item2) {
        let warningSrc;
        let dangerSrc;

        if (item2.THISWARNINGCNT > item2.THATWARNINGCNT)
          warningSrc = contextPath + "/fs/img/district/up-arrow.png";
        else if (item2.THISWARNINGCNT < item2.THATWARNINGCNT)
          warningSrc = contextPath + "/fs/img/district/down-arrow.png";
        else
          warningSrc = contextPath + "/fs/img/district/equal-arrow.png";

        if (item2.THISDANGERCNT > item2.THATDANGERCNT)
          dangerSrc = contextPath + "/fs/img/district/up-arrow.png";
        else if (item2.THISDANGERCNT < item2.THATDANGERCNT)
          dangerSrc = contextPath + "/fs/img/district/down-arrow.png";
        else
          dangerSrc = contextPath + "/fs/img/district/equal-arrow.png";

        if (item1.GRPNAME === item2.GRPNAME) {
          html += [ '<div class="d-flex">'
                  ,   '<div class="p-2 flex-fill" style="width: 180px;">'
                  ,     '<h3 class="m-0" style="font-weight: 400">'+ item2.AREANAME +'</h3>'
                  ,   '</div>'
                  ,   '<div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center">'
                  ,     '<h3 class="m-0" style="color: #ffc000;">' + item2.THISWARNINGCNT + '</h3>'
                  ,     '<img class="arrow-icon" src="' + warningSrc + '" alt="icon" />'
                  ,   '</div>'
                  ,   '<div class="p-2 flex-fill d-flex justify-content-end align-content-center align-items-center" style="width: 50px;">'
                  ,     '<h3 class="m-0" style="color: #ed7d31;">' + item2.THISDANGERCNT + '</h3>'
                  ,     '<img class="arrow-icon" src="' + dangerSrc + '" alt="icon" />'
                  ,   '</div>'
                  , '</div>' ].join('');
        }
      });

      html +=  '<hr/>';
      $("#areaList").append(html);
    });

    /*      let html2 = [ '<div class="d-flex">'
                      ,   '<div class="p-2 flex-fill" style="width: 180px;">'
                      ,     '<h2><span class="badge pl-4 pr-4 pt-2 pb-2 yuseonggu-btn" style="font-weight: 900;">유성구</span></h2>'
                      ,   '</div>'
                      , '</div>' ].join('');

          $("#areaList").append(html2);*/

    fn_mcds_getTodayGuEventAjax();
  });
}

function fn_mcds_getTodayGuEventAjax() {
  $.get(contextPath + '/district/todayGuEventAjax', function (d) {
    let guId = '';

    $.each(d, function (idx, item) {
      if (item.GRPNAME === "동구") guId = "donggu";
      else if (item.GRPNAME === "중구") guId = "junggu";
      else if (item.GRPNAME === "서구") guId = "seogu";
      else if (item.GRPNAME === "유성구") guId = "yuseonggu";
      else if (item.GRPNAME === "대덕구") guId = "daedeokgu";

      $("#" + guId + "-warning-cnt").text(item.THISWARNINGCNT);
      $("#" + guId + "-danger-cnt").text(item.THISDANGERCNT);

      if (item.THISWARNINGCNT > item.THATWARNINGCNT)
        $("#" + guId + "-warning-arrow").attr('src', contextPath + "/fs/img/district/up-arrow.png");
      else if (item.THISWARNINGCNT < item.THATWARNINGCNT)
        $("#" + guId + "-warning-arrow").attr('src', contextPath + "/fs/img/district/down-arrow.png");
      else
        $("#" + guId + "-warning-arrow").attr('src', contextPath + "/fs/img/district/equal-arrow.png");

      if (item.THISDANGERCNT > item.THATDANGERCNT)
        $("#" + guId + "-danger-arrow").attr('src', contextPath + "/fs/img/district/up-arrow.png");
      else if (item.THISDANGERCNT < item.THATDANGERCNT)
        $("#" + guId + "-danger-arrow").attr('src', contextPath + "/fs/img/district/down-arrow.png");
      else
        $("#" + guId + "-danger-arrow").attr('src', contextPath + "/fs/img/district/equal-arrow.png");
    });
  });
}

// 지역별 전월대비 이벤트 발생현황
function fn_mcds_getMonthlyGuEventCompStatAjax() {
  $.get(contextPath + '/district/monthlyGuEventCompStatAjax', function (d) {
    let grpName = "";
    let grpNameLabel = [];
    let barEvnetList = [];

    $.each(d, function (idx, item) {
      if (item.GRPCODE === "30110") grpName = "동구";
      else if (item.GRPCODE === "30140") grpName = "중구";
      else if (item.GRPCODE === "30170") grpName = "서구";
      else if (item.GRPCODE === "30200") grpName = "유성구";
      else if (item.GRPCODE === "30230") grpName = "대덕구";

      grpNameLabel.push(grpName);
      barEvnetList.push(Math.round(item.THISEVENTCNT * 100 / item.THATEVENTCNT));
    });

    let bar_ctx = document.getElementById('localEventChart').getContext('2d');
    let background_1 = bar_ctx.createLinearGradient(0, 0, 0, 310);
    background_1.addColorStop(0, '#f58a39');
    background_1.addColorStop(1, '#fbcf33');

    let localLabel = { labels: grpNameLabel, datasets: [{ label: '', backgroundColor: background_1, borderWidth: 1, data: barEvnetList }] };

    let localChart = new Chart($("#localEventChart"), {
      type: 'bar',
      data: localLabel,
      options: {
        responsive: false,
        legend: { position: 'bottom',  display: false },
        hover: { animationDuration: 0 },
        scales: {
          yAxes : [{ ticks : { fontSize: 15 }, afterDataLimits(scale) { scale.max += 30; } }],
          xAxes : [{ ticks: { fontColor: "white", fontSize: 15 } }]
        },
        animation: {
          duration: 1,
          onComplete: function () {
            let chartInstance = this.chart, ctx = chartInstance.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';

            this.data.datasets.forEach(function (dataset, i) {
              let meta = chartInstance.controller.getDatasetMeta(i);

              meta.data.forEach(function (bar, index) {
                let data = dataset.data[index];
                ctx.fillStyle = "#fff";
                ctx.font = "bold 20px 'NanumBarunGothic', sans-serif";
                ctx.fillText(data, bar._model.x, bar._model.y);
              });
            });
        }},
        title: { display: false, text: '' }
      }
    });
  });
}
</script>
</body>
</html>