<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<th:block th:replace="mng/challenge/layout/mc_head"></th:block>
<link rel="stylesheet" th:href="@{/fs/css/custom.css}" />
</head>

<body class="mod-bg-1 mod-nav-link">
<div class="top">
  <th:block th:replace="mng/challenge/layout/mc_top"></th:block>
</div><!-- /전체 / 경고 / 주의 / 끊김 -->

<div class="row">
  <div class="left col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/challenge/layout/mc_left"></th:block>
  </div><!-- /구 및 시장별 상태 / 점검 -->

  <div class="center col-md-8 col-12">
    <div id="center-main-cont" class="center-main-cont">
      <div class="row">
        <div class="col-12 sortable-grid ui-sortable"></div>
      </div>
    </div><!-- /#center-main-cont (시장별 현황) -->

    <th:block th:replace="mng/challenge/mc_store"></th:block>
  </div><!-- /.center -->
  <div class="right col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/challenge/layout/mc_right"></th:block>
  </div><!-- /경고 / 주의 / 고장 -->
</div><!-- /.row -->
<div class="bottom">
  <th:block th:replace="mng/challenge/layout/mc_bottom"></th:block>
</div>

<div class="modal fade default-example-modal-left-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-left modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4">Firsens 관리자 메뉴</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <nav id="js-primary-nav" class="primary-nav" role="navigation">
          <ul id="js-nav-menu" class="nav-menu">
            <li>
              <a href="javascript:fn_mcmi_movePageAdm('area')">
                <i class="fal fa-home"></i><span class="nav-link-text" data-i18n="nav.application_intel">구역관리</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('mem')">
                <i class="fal fa-user"></i><span class="nav-link-text" data-i18n="nav.application_intel">회원관리</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('str')">
                <i class="fal fa-store"></i><span class="nav-link-text" data-i18n="nav.application_intel">상점관리</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('snsr')">
                <i class="fal fa-siren"></i><span class="nav-link-text" data-i18n="nav.application_intel">센서관리</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('inspr')">
                <i class="fal fa-user"></i><span class="nav-link-text" data-i18n="nav.application_intel">점검자관리</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('insp')">
                <i class="fal fa-list"></i><span class="nav-link-text" data-i18n="nav.application_intel">점검관리</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('push')">
                <i class="fal fa-bell"></i><span class="nav-link-text" data-i18n="nav.application_intel">발송이력</span>
              </a>
              <a href="javascript:fn_mcmi_movePageAdm('stat')">
                <i class="fal fa-chart-pie"></i><span class="nav-link-text" data-i18n="nav.application_intel">보고서</span>
              </a>
              <a href="javascript:void(0);" onclick="fn_mcmi_logout()">
                <i class="fal fa-chart-pie"></i><span class="nav-link-text" data-i18n="nav.application_intel">로그아웃</span>
              </a>
            </li>
          </ul><!-- /#js-nav-menu -->
        </nav><!-- /#js-primary-nav -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal-dialog (side menu) -->

<script th:src="@{/fs/js/polyfill.min.js}"></script>
<script th:src="@{/fs/js/apexcharts.js}"></script>
<script th:src="@{/fs/js/mcMainInit.js}"></script>

<script type="text/javascript" th:src="${naverMap}"></script>

<script type="text/javascript">
$(function () {
  fn_mcmi_initTimer();
  fn_mcmi_initTemplate();
  fn_mcmi_initClickEvent();
  fn_mcmi_initMinCategory();
  fn_mcm_initTodayState();
  fn_mcm_initMainAreaList();
});

// 오늘 센서 전체 현황, 점검센서 목록, 경고/주의/고장 센서 목록 조회
function fn_mcm_initTodayState() {
  $('.left-list-sensor').html('');
  $('.list-sensor').html('');

  $.post(
    $('#contextRoot').val() + '/mng/todayTotalStateAjax',
    {},
    function (d) {
      if (d) {
        // 오늘 센서 전체 현황
        if (d.total) 
          for (let i = 0; i < d.total.length; i++) 
            $('.COUNT-' + d.total[i].TERM + d.total[i].TYPE).text(fn_mcmi_numberWithCommas(d.total[i].CNT));

        // 점검센서 
        if (d.check) {
          for (let i = 0; i < d.check.length; i++)
            $('.sensors-' + d.check[i].STATE + ' .left-list-sensor').append($.tmpl('left-check-sensor', d.check[i]));

          $('.sensors-CHECK .cnt').text('(' + $('.sensors-CHECK .left-list-sensor p').length + ')');
        }

        // 경고/주의/고장
        if (d.abnormal) {
          for (let i = 0; i < d.abnormal.length; i++)
            $('.sensors-' + d.abnormal[i].STATE + ' .list-sensor').append($.tmpl('right-sensor', d.abnormal[i]));

          $('.sensors-DANGER .cnt').text('(' + $('.sensors-DANGER .list-sensor p').length + ')');
          $('.sensors-WARN .cnt').text('(' + $('.sensors-WARN .list-sensor p').length + ')');
          $('.sensors-BROKEN .cnt').text('(' + $('.sensors-BROKEN .list-sensor p').length + ')');
        }
      }
  });
}

// 구/시장별 센서상태 현황
function fn_mcm_initMainAreaList() {
  $('.center-main-cont .sortable-grid').html('');
  $('.list-area').html('');

  $.post(
    $('#contextRoot').val() + '/mng/todayGuAreaStateAjax',
    {},
    function (d) {
      if (d) {
        window.area = d;
        window.areaIndex = {};
        window.lv1cnt = 0;

        // left side
        for (let i = 0; i < d.length; i++)
          if (d[i].LEVEL == 1)
            $('.list-area').append($.tmpl('left-area', d[i]));
          else
            $('.list-area p[data-code="' + d[i].UPCODE + '"]').after($.tmpl('left-area', d[i]));

        // main
        for (let i = d.length - 1; i >= 0; i--) {
          if (d[i].LEVEL != 1) {
            window.lv1cnt++;
            window.areaIndex[d[i].CODE] = i;

            // 시장별 현황 화면
            $.post(
              $('#contextRoot').val() + '/mng/mainArea',
              { panel_index: 'panel-' + d[i].CODE, areacode: d[i].CODE },
              function (cont) {
                let $temp = $('<div>');
                $temp.html(cont);

                $('.center-main-cont .sortable-grid').append($temp.find('.sub-cont').html());

                if (window.lv1cnt == $('.center-main-cont .panel').length) {
                  $('#center-main-cont').smartPanel({ localStorage: true });

                  $($('.center-main-cont .js-panel-collapse')[0]).addClass("on");
                  $($('.center-main-cont .panel-container')[0]).addClass('show');
                  // $($('.center-main-cont .js-panel-collapse')[1]).addClass("on");
                  // $($('.center-main-cont .panel-container')[1]).addClass('show');
                }

                window.center_name = 'main';
                fn_mcmi_toggleCenterCont();

                // area 데이터 수신현황 update
                let show_panel = $('.center-main-cont .panel-container');
                for (let i = 0; i < show_panel.length; i++)
                  fn_mcm_setMainArea($(show_panel[i]).attr('data-id').replace('panel-', '')/*, id*/);
            });
        }}
      }
  });
}

// 시장 현황 목록 갱신 조회
function fn_mcm_updateMainAreaList(/*id*/) {
  $.post(
    $('#contextRoot').val() + '/mng/todayGuAreaStateAjax',
    {},
    function (d) {
      if (d) {
        window.area = d;
        window.areaIndex = {};

        for (let i = d.length - 1; i >= 0; i--) {
          if (d[i].LEVEL != 1)
            window.areaIndex[d[i].CODE] = i;

          // left side
          $('.list-area p[data-code="' + d[i].CODE + '"] > span.danger').text(d[i].DANGER);
          $('.list-area p[data-code="' + d[i].CODE + '"] > span.warn').text(d[i].WARN);
        }

        let show_panel = $('.center-main-cont .panel-container');
        for (let i = 0; i < show_panel.length; i++)
          fn_mcm_setMainArea($(show_panel[i]).attr('data-id').replace('panel-', '')/*, id*/);
  }});
}

// 시장 현황 목록 화면 구성
function fn_mcm_setMainArea(i/*, id*/) {
  let panel_id = 'panel-' + i;

  $('#' + panel_id + ' .center-main-area-title').text(window.area[window.areaIndex[i]].NAME);
  $('#' + panel_id + ' .center-main-area-count-store').text(window.area[window.areaIndex[i]].STORE);
  $('#' + panel_id + ' .center-main-area-count-sensor').text(window.area[window.areaIndex[i]].SENSOR);
  $('#' + panel_id + ' .center-main-area-count-danger').text(window.area[window.areaIndex[i]].DANGER);
  $('#' + panel_id + ' .center-main-area-count-warn').text(window.area[window.areaIndex[i]].WARN);
  $('#' + panel_id + ' .center-main-area-count-discon').text(window.area[window.areaIndex[i]].DISCON);

  if ($('#' + panel_id).hasClass('panel-fullscreen') || $('#' + panel_id + ' .panel-container').hasClass('show')) {
    $.post(
      $('#contextRoot').val() + '/mng/mainAreaDataAndLogChartAjax',
      { areacode: i },
      function (resu) {
        fn_mcm_setChart('데이터 수신 현황', '#' + panel_id + ' .center-main-data-chart', resu.data, ['#99ccff','#003399']);
        fn_mcm_setChart('경보 발생 현황', '#' + panel_id + ' .center-main-log-chart', resu.log, ['#ff9966','#cc3300']);
    });
  }
}

// 시장 데이터 수신 현황 및 경보 발생 현황 차트 (어제/오늘)
function fn_mcm_setChart(title, target, data, colors) {
  let opt = {
    series: [],
    chart: { height: 250, type: 'line', id: target, animations: { enabled: false } },
    title: { text: title, align: 'left' },
    colors: colors,
    stroke: { width: 2 },
    dataLabels: { enabled: false },
    tooltip: {
      enabled: true,
      marker: { show: true },
      fixed: { enabled: true, position: 'topLeft' },
      y: { formatter: function (val) { return (val) ? val.toFixed(0) : null; } }
    },
    xaxis: { categories: window.min_category, tickAmount: 11, labels: { rotate: 0 } },
    yaxis: {
      lines: { show: true },
      tooltip: { enabled: true },
      labels: { formatter: function (val) { return (val) ? val.toFixed(0) : null; } }
    },
    legend: { position: 'top' }
  };

  let series = [{ name: '어제', data: [] }, { name:'오늘', data: [] }];
  let j = 0;
  let now_time = fn_mcmi_dateToString(new Date()).slice(11, 15) + '0';

  for (let i = 0; i < window.min_category.length; i++)
    if (j < data.length && data[j].TYPE == '1' && data[j].RCVTIME == window.min_category[i])
      series[0].data.push(data[j++].CNT);
    else if (window.min_category[i])
      series[0].data.push(0);

  for (let i = 0; i < window.min_category.length; i++)
    if (j < data.length - 1 && data[j].RCVTIME == window.min_category[i])
      series[1].data.push(data[j++].CNT);
    else if (window.min_category[i] < now_time)
      series[1].data.push(0);

  opt.markers = { size: 0, hover: { size: 0 } };

  let target_id = target.replace(/ /g,'-');
  if (window['chart-' + target_id]) {
    window['chart-' + target_id].updateOptions(opt);
    window['chart-' + target_id].updateSeries(series);
  } else {
    opt.series = series;
    $(target).html('');

    window['chart-' + target_id] = new ApexCharts(document.querySelector(target), opt);
    window['chart-' + target_id].render().then(function () {});
  }
}

// 시장 데이터 수신 현황 및 경보 발생 현황 차트 조회
function fn_mcm_getMainAreaWeek() {
  window.week_category = ['일', '월', '화', '수', '목', '금', '토'];
  let show_panel = $('.center-main-cont .panel-fullscreen .panel-container');

  for (let i = 0; i < show_panel.length; i++) {
    let idx = $(show_panel[i]).attr('data-id').replace('panel-','');

    $.post(
      $('#contextRoot').val() + '/mng/mainAreaDataAndLogChartWeekAjax',
      { areacode: idx },
      function (resu) {
        fn_mcm_setChartWeek('경보 발생 현황', '#panel-' + idx + ' .center-main-log-chart-week', resu.log, ['#ff9966','#cc3300']);
        fn_mcm_setChartWeek('전력사용량 현황', '#panel-' + idx + ' .center-main-data-chart-week', resu.data, ['#99ccff','#003399']);
    });
  }
}

// 시장 데이터 수신 현황 및 경보 발생 현황 차트 (저번주/이번주)
function fn_mcm_setChartWeek(title, target, data, colors) {
  let opt = {
    series: [],
    chart: { height: 250, type: 'bar', id: target, animations: { enabled: false } },
    title: { text: title, align: 'left' },
    colors: colors,
    annotations: {
      points: [{
        x: window.week_category[new Date().getDay()],
        seriesIndex: 1,
        label: { borderColor: '#775DD0', textAnchor: 'start', offsetY:-15, offsetX: 10, style: { color: '#ddd', background: '#775DD0' }, text: '오늘' },
        marker: { size: 0 }
      }]
    },
    plotOptions: { bar: { horizontal: false, borderRadius: 10, dataLabels: { position: 'bottom' } } },
    dataLabels: {
      enabled: true,
      style: { colors: ['#fff'] },
      dropShadow: { enabled: true },
      formatter: function (val) { return (val) ? val.toFixed(0) : 0; }
    },
    tooltip: {
      enabled: true,
      marker: { show: true },
      fixed: { enabled: true, position: 'topLeft' },
      y: { formatter: function (val) { return (val) ? val.toFixed(0) : 0; } }
    },
    xaxis: { categories: window.week_category, tickAmount: 11, labels: { rotate: 0 } },
    yaxis: {
      lines: { show: true },
      tooltip: { enabled: true },
      labels: { formatter: function (val) { return (val) ? val.toFixed(0) : 0; } }
    },
    legend: { position: 'top' }
  };

  let series = [{ name: '저번주', data: [] }, { name: '이번주', data: [] }];
  let j = 0;

  for (let i = 0; i < window.week_category.length; i++)
    series[0].data.push((j < data.length && (i + 1) == data[j].WEEK) ? data[j++].CNT : 0);

  for (let i = 0; i < window.week_category.length; i++)
    series[1].data.push((j < data.length && (i + 1) == data[j].WEEK) ? data[j++].CNT : 0);

  opt.markers = { size: 0, hover: { size: 0 } };

  let target_id = target.replace(/ /g,'-');
  if (window['chart-' + target_id]) {
    // window['chart-'+target_id].updateOptions(opt);
    window['chart-' + target_id].updateSeries(series);
  } else {
    opt.series = series;
    $(target).html('');

    window['chart-' + target_id] = new ApexCharts(document.querySelector(target), opt);
    window['chart-' + target_id].render().then(function () {});
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// 시장 현황 패널 전체 화면 지도 선택
function fn_mcm_tapCenterMainPage() {
  let page_name = $('.panel.panel-fullscreen .center-main-cont-top-btn.on').attr('data-page');
  $('.panel.panel-fullscreen [class^=center-main-page]').removeClass('on');
  $('.panel.panel-fullscreen .center-main-page-' + page_name).addClass('on');

  if (page_name == 'chart') {
    fn_mcm_updateMainAreaList();
    fn_mcm_getMainAreaWeek();
  }

  if (page_name == 'map') {
    fn_mcm_getMainAreaMap();
  }
}

// 시장 현황 지도 정보 조회
function fn_mcm_getMainAreaMap() {
  let show_panel = $('.center-main-cont .panel-fullscreen .panel-container .center-main-page-map.on');

  for (let i = 0; i < show_panel.length; i++) {
    let idx = $(show_panel[i]).attr('data-id').replace('panel-','');

    $.post($('#contextRoot').val() + '/mng/mainAreaMapSensorListAjax', { areacode: idx }, function (data) {
      fn_mcm_setMapMarker('#panel-' + idx + ' .center-main-page-map', data);
    });
  }
}

// 시장 현황 지도 marker
function fn_mcm_setMapMarker(target, data) {
  let target_id = target.replace(/ /g,'-');

  let mark = {
    normal: ['/fs/img/map/normal.png', 1],
    discon: ['/fs/img/map/disconnection.png', 0],
    danger: ['/fs/img/map/danger.png', 3],
    warning: ['/fs/img/map/warning.png', 2],
    select: ['/fs/img/map/select.png', 4]
  };

  if (!window['map-' + target_id]) {
    window['map-' + target_id] = new naver.maps.Map($(target)[0], { center: new naver.maps.LatLng(33.450701, 126.570667), zoom: 19 });
    window['map-' + target_id].marker = [];
  }

  for (let i = 0; i < window['map-' + target_id].marker.length; i++)
    window['map-' + target_id].marker[i].setMap(null);

  if (data.length > 0) {
    for (let i = 0; i < data.length; i++) {
      let pos = new naver.maps.LatLng(data[i].STRPOSLAT, data[i].STRPOSLON);

      if (i == 0)
        window['map-' + target_id].setCenter(pos);

      window['map-' + target_id].marker.push(new naver.maps.Marker({
        map: window['map-' + target_id],
        title: data[i].STRNAME + ' > ' + data[i].SNSRNICK,
        position: pos,
        zIndex: mark[data[i].STATE][1],
        icon: {
          url: $('#contextRoot').val() + mark[data[i].STATE][0],
          size: new naver.maps.Size(26, 35),
          scaledSize: new naver.maps.Size(26, 35),
          origin: new naver.maps.Point(0, 0),
          anchor: new naver.maps.Point(13, 35)
        }
      }));
  }}
}
</script>
</body>
</html>