<script type="text/javascript" th:src="@{/fs/js/jquery.js}"></script>

<div class="sub-cont w-100">
  <div class="row store-log">
    <input id="prm_areacode" type="hidden" th:value="${prm_areacode}" />
    <input id="prm_strcode" type="hidden" th:value="${prm_strcode}" />
    <input id="prm_snsrid" type="hidden" th:value="${prm_snsrid}" />
    <input id="prm_regdate" type="hidden" th:value="${prm_regdate}" />
    <input id="prm_checktype" type="hidden" th:value="${prm_checktype}" />

    <div class="col-md-3 col-12">
      <div class="store-log-sensor-list"></div>
      <!--
      <table class="store-datalog-meta">
        <tr class="monkwh"><th><span></span><br/>사용전력량</th><td><span></span>kWh</td></tr>
        <tr class="kw"><th>전력</th><td><span></span>kW</td></tr>
        <tr class="vo"><th>전압</th><td><span></span>V</td></tr>
        <tr class="am"><th>전류</th><td><span></span>A</td></tr>
        <tr class="hz"><th>주파수</th><td><span></span>Hz</td></tr>
        <tr class="igo"><th>누설전류(IGO)</th><td><span></span>mA</td></tr>
        <tr class="igr"><th>누설전류(IGR)</th><td><span></span>mA</td></tr>
        <tr class="igc"><th>누설전류(IGC)</th><td><span></span>mA</td></tr>
        <tr class="meg"><th>절연저항</th><td><span></span>MΩ</td></tr>
        <tr class="kwh"><th>누적전력량</th><td><span></span>kWh</td></tr>
        <tr class="dbm"><th>수신감도(RSSI)</th><td><span></span>dBm</td></tr>
      </table>
      -->
    </div><!-- /.col-md-3 col-12 -->

    <div class="col-md-9 col-12">
      <div class="row p-2">
        <div class="col-12 align-middle">
          <!--
          <div class="form-group custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input strlogtype-chkbox" id="check-total" />
            <label class="custom-control-label" for="check-total">전체</label>
          </div>
          -->
          <div class="form-group custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input strlogtype-chkbox" id="check-danger" />
            <label class="custom-control-label" for="check-danger">경고</label>
          </div><!-- /#check-danger -->
          <div class="form-group custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input strlogtype-chkbox" id="check-warn" />
            <label class="custom-control-label" for="check-warn">주의</label>
          </div><!-- /#check-warn -->
          <div class="form-group custom-control-inline">
            <input class="form-control" id="regdt" type="date" />
          </div><!-- /#regdt -->
          <button type="button" class="btn btn-sm btn-success waves-effect waves-themed" onclick="fn_mcstl_getDataLogFiltered(1);">조회</button>
        </div><!-- /.col-12 align-middle -->
      </div><!-- /.row p-2 -->
      <div class="store-datalog-filtered-list alert alert-info bg-white m-2"></div>
      <ul class="pagination pagination-sm justify-content-center"></ul>
    </div><!-- /.col-md-9 col-12 -->
  </div><!-- /.row store-log -->

  <script type="text/javascript" th:src="@{/fs/js/pagination.js}"></script>

  <script type="text/javascript">
  $(function () {
    fn_mcstl_initStoreSetup();
    fn_mcstl_initStoreDataLog();
  });

  function fn_mcstl_initStoreSetup() {
    $.template(
      'store-log-sensor',
      '<p class="{{html STATE}} mb-0 pb-0">' +
        '<input type="radio" class="snsr-radio-class mr-1" name="snsr-radio-btn" id="{{html SNSRID}}" value="{{html SNSRID}}" /> ' +
        '<label class="mb-0" for="{{html SNSRID}}" style="cursor: pointer;">{{html SNSRNICK}} ({{html SNSRIDTRIM}})</label>' +
      '</p>'
    );

    $.template(
      'datalog',
      '<p class="{{html STATE}}" data-index="{{html INDEX}}" data-snsrid="{{html SNSRID}}">' +
        '[{{html SNSRRCVTIME}}] {{html SNSRIDSUBSTR}} : {{html DATALOG}}' +
        '<button type="button" class="btn-chart btn btn-xs btn-outline-info waves-effect waves-themed"' +
        ' data-snsrid="{{html SNSRID}}" data-regdate="{{html REGDATE}}" data-almtype="{{html ALMTYPE}}">Chart</button>' +
      '</p>'
    );

    // $('.store-log-sensor-list').on('click', 'input', fn_mcstl_checkDataLogFiltered);
    // $('.store-datalog-filtered-list').on('click', 'p', function () { fn_mcstl_setDataLogMeta($(this).attr('data-index')); });

    // $('.store-log #check-total').on('click', function () {
    //   $('#check-danger, #check-warn').prop('checked', !$(this).is(":checked"));
    //   fn_mcstl_getDataLogFiltered(1);
    // });

    $('.store-log #check-danger, .store-log #check-warn').on('click', function () {
      // if ($(this).is(":checked") && $('.store-log #check-total').is(":checked"))
      //   $('#check-total').prop('checked', false);
      // else if (!$('.store-log #check-danger').is(":checked") && !$('.store-log #check-warn').is(":checked"))
      //   $('#check-total').prop('checked', true);

      if (!$('.store-log #check-danger').is(":checked") && !$('.store-log #check-warn').is(":checked")) {
        alert("경고나 주의 둘 중 하나는 반드시 선택해야 합니다.");
        $('#check-danger').prop('checked', true);
      }

      fn_mcstl_getDataLogFiltered(1);
    });

    $('.store-log #regdt').on('change', function () { fn_mcstl_getDataLogFiltered(1); });
  }

  function fn_mcstl_initStoreDataLog() {
    let regdate = $('#prm_regdate').val();
    if (!regdate)
      regdate = fn_mcmi_dateToString(new Date()).slice(0, 10);

    $('.store-log #regdt').val(regdate);

    if ($("#prm_checktype").val() == '')
      $('#check-danger, #check-warn').prop('checked', true);
    else
      $('#check-' + $("#prm_checktype").val()).prop('checked', true);

    fn_mcstl_getStoreLogSensorList();
  }

  function fn_mcstl_getStoreLogSensorList() {
    $.post(
      $('#contextRoot').val() + '/mng/todayAreaSensorStateAjax',
      { areacode: $('#prm_areacode').val(), strcode: $('#prm_strcode').val() }, 
      function (d) {
        $('.store-log-sensor-list').html('');

        for (let i = 0; i < d.length; i++) {
          if (d[i].DANGER > 0)
            d[i].STATE = 'danger';
          else if (d[i].WARN > 0)
            d[i].STATE = 'warn';
          else if (d[i].CON == 0)
            d[i].STATE = 'discon';

          $('.store-log-sensor-list').append($.tmpl('store-log-sensor', d[i]));
        }

        $("input:radio[name='snsr-radio-btn']:first").prop('checked', true);
        $("input:radio[name='snsr-radio-btn']").on('change', function () { fn_mcstl_getDataLogFiltered(1); });

        fn_mcstl_getDataLogFiltered(1);
    });
  }

  function fn_mcstl_getDataLogFiltered(idx) {
    window.pageIndex = idx;
    $('.pagination').html('');

    $('.store-datalog-filtered-list').html(
      '<div class="loading-datalog position-absolute w-100 h-100 bg-white text-center" style="left: 0; top: 0;">' +
        '<button class="btn btn-info waves-effect waves-themed align-self-center" type="button" disabled="" style="margin-top: 100px;">' +
        '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading... </button>' +
      '</div>'
    );

    $.post(
      $('#contextRoot').val() + '/mng/dataLogList2Ajax',
      {
        snsrid: $("input:radio[name='snsr-radio-btn']:checked").val(),
        regdt: $('.store-log #regdt').val(),
        type: $(".strlogtype-chkbox:checkbox:checked").map(function () { return this.id }).get().join(','),
        pageindex: window.pageIndex
      },
      function (resu) {
        if (resu.result) {
          if (resu.resultCnt > 0) {
            $('.store-datalog-filtered-list').html('');

            for (let i = 0; i < resu.resultList.length; i++) {
              let item = resu.resultList[i];
              item.INDEX = i;

              if (item.LCAUSE)
                item.DATALOG = item.LCAUSE;
              else
                item.DATALOG = '전력: ' + item.SNSRWATT + 'kW | 전류: ' + item.SNSRAMPERE + 'mA | 누설전류: ' + item.SNSRIGO + 'mA';

              $('.store-datalog-filtered-list').append($.tmpl('datalog', item));
            }

            $('.pagination').html(fn_paginationHtml('mStoreLog', resu['pInfo']))
          } else {
            $('.store-datalog-filtered-list').html('데이터가 없습니다');
          }
        } else {
          alert('목록 조회 도중 오류가 발생했습니다.')
        }
    });
  }

  function fn_linkPage(flag, idx) {
    if (flag == 'mStoreLog')
      fn_mcstl_getDataLogFiltered(idx)
  }

  function fn_mcstl_refreshStoreInfo() {}
  </script>
</div><!-- /.sub-cont w-100 -->