<script type="text/javascript" th:src="@{/fs/js/jquery.js}"></script>
<input id="contextRoot" type="hidden" th:value="${#httpServletRequest.getContextPath()}" />

<div class="sub-cont w-100">
  <input id="prm_areacode" type="hidden" th:value="${prm_areacode}" />
  <input id="prm_strcode" type="hidden" th:value="${prm_strcode}" />
  <input id="prm_snsrid" type="hidden" th:value="${prm_snsrid}" />

  <div class="row store-info">
    <div class="col-md-4 col-12">
      <div class="store-map" style="width: 100%; height: 240px; background: #ddd;"></div>
      <div class="store-img">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner"></div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a><!-- /.carousel-control-prev -->
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a><!-- /.carousel-control-next -->
        </div><!-- /#carouselExampleIndicators -->
      </div><!-- /.store-img -->
      <table class="store-meta w-100">
        <tr class="store-name"><th>상점명</th><td class="store-name-cont"></td></tr>
        <tr class="store-addr"><th>주소</th><td class="store-addr-cont"></td></tr>
        <tr class="store-tel"><th>연락처</th><td class="store-tel-cont"></td></tr>
        <tr class="store-owntel"><th>상점주</th><td class="store-owntel-cont"></td></tr>
        <tr class="store-owntel"><td colspan="2"><div class="store-info-sensor-list"></div></td></tr>
      </table>
    </div><!-- /.store-img -->
    <div class="col-md-8 m-md-0 col-12 m-3">
      <div class="row mt-2">
        <div class="col-5">
          <table class="store-datalog-meta" style="margin-top:30px;">
            <tr class="monkwh"><th>사용전력량</th><td><span></span>kWh</td></tr>
            <tr class="kw"><th>전력</th><td><span></span><span style="margin-right: 7px;">kW</span></td></tr>
            <tr class="vo"><th>전압</th><td><span></span><span style="margin-right: 17px;">V</span></td></tr>
            <tr class="am"><th>전류</th><td><span></span><span style="margin-right: 17px;">A</span></td></tr>
            <tr class="hz"><th>주파수</th><td><span></span><span style="margin-right: 10px;">Hz</span></td></tr>
            <tr class="igo"><th>누설전류(IGO)</th><td><span></span><span style="margin-right: 6px;">mA</span></td></tr>
            <tr class="igr"><th>누설전류(IGR)</th><td><span></span><span style="margin-right: 6px;">mA</span></td></tr>
            <tr class="igc"><th>누설전류(IGC)</th><td><span></span><span style="margin-right: 6px;">mA</span></td></tr>
            <tr class="meg"><th>절연저항</th><td><span></span><span style="margin-right: 7px;">MΩ</span></td></tr>
            <tr class="kwh"><th>누적전력량</th><td><span></span><span style="margin-right: 2px;">kWh</span></td></tr>
            <tr class="dbm"><th>수신감도(RSSI)</th><td><span></span><span style="margin-right: 2px;">dBm</span></td></tr>
            <tr class="datarcvtime"><th>최근수신시간</th><td><span style="font-size: 14px;"></span><span style="margin-right: 2px;"></span></td></tr>
          </table>
        </div><!-- /.col-5 -->
        <div class="col-7">
          <div class="row pl-2">
            <div class="col-12 align-middle">
              <div class="form-group custom-control-inline mb-0">
                <input class="form-control" id="regdt" type="date" />
              </div><!-- /.form-group custom-control-inline mb-0 -->

              <button type="button" class="btn btn-sm btn-success waves-effect waves-themed" onclick="fn_mcsti_getDataLog();">조회</button>
            </div><!-- /.col-12 align-middle -->
          </div><!-- /.row pl-2 -->

          <div class="mt-1 store-datalog-list alert alert-info bg-white"></div>
        </div><!-- /.col-7 -->
      </div><!-- /.row mt-2 -->
      <div class="row mt-3 ml-0 mr-0">
        <div class="col-6 pl-0 pr-0 store-log-3days-stat-border">
          <div class="store-log-3days-stat-title">누적 경보</div>
          <div class="row ml-0 mr-0">
            <div class="col-6 pl-0 pr-0">
              <div class="store-log-3days-stat-type">경고</div>
              <div class="p-3">
                <table class="tbl-bar w-100">
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-d0">
                      <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td><!-- /.store-log-3days-stat-d0 -->
                    <td class="store-log-3days-stat-d1">
                      <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td><!-- /.store-log-3days-stat-d1 -->
                    <td class="store-log-3days-stat-d2" style="background: rgb(198,213,226);">
                      <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b>0</b></span></span>
                    </td><!-- /.store-log-3days-stat-d2 -->
                  </tr><!-- /.tr-bar -->
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-day0"></td>
                    <td class="store-log-3days-stat-day1"></td>
                    <td class="store-log-3days-stat-day2" style="background: rgb(198,213,226);"></td>
                  </tr><!-- /.tr-bar -->
                </table><!-- /.tbl-bar w-100 -->
              </div><!-- /.p-3 -->
            </div><!-- /.col-6 pl-0 pr-0 -->
            <div class="col-6 pl-0 pr-0">
              <div class="store-log-3days-stat-type">주의</div>
              <div class="p-3">
                <table class="tbl-bar w-100">
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-w0">
                      <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td><!-- /.store-log-3days-stat-w0 -->
                    <td class="store-log-3days-stat-w1">
                      <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td><!-- /.store-log-3days-stat-w1 -->
                    <td class="store-log-3days-stat-w2" style="background: rgb(198,213,226);">
                      <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b>0</b></span></span>
                    </td><!-- /.store-log-3days-stat-w2 -->
                  </tr><!-- /.tr-bar -->
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-day0"></td>
                    <td class="store-log-3days-stat-day1"></td>
                    <td class="store-log-3days-stat-day2" style="background: rgb(198,213,226);"></td>
                  </tr><!-- /.tr-bar -->
                </table><!-- /.tbl-bar w-100 -->
              </div><!-- /.p-3 -->
            </div><!-- /.col-6 pl-0 pr-0 -->
          </div><!-- /.row ml-0 mr-0 -->
        </div><!-- /.col-6 pl-0 pr-0 store-log-3days-stat-border -->
        <div class="col-6 pl-0 pr-0 store-log-week-stat-border">
          <div class="store-log-week-stat-title">일주일 경보</div>
          <div class="text-center">
            <span class="bg-danger">&nbsp;&nbsp;&nbsp;</span> 경고
            <span class="bg-warning">&nbsp;&nbsp;&nbsp;</span> 주의
          </div>
          <div class="p-3">
            <table class="tbl-bar w-100">
              <tr class="tr-bar">
                <td class="store-log-week-stat-d0">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w0">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d1">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w1">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d2">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w2">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d3">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w3">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d4">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w4">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d5">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w5">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d6" style="background: rgb(198,213,226);">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w6" style="background: rgb(198,213,226);">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <tr class="tr-bar">
                  <td colspan="2" class="store-log-week-stat-day0"></td>
                  <td colspan="2" class="store-log-week-stat-day1"></td>
                  <td colspan="2" class="store-log-week-stat-day2"></td>
                  <td colspan="2" class="store-log-week-stat-day3"></td>
                  <td colspan="2" class="store-log-week-stat-day4"></td>
                  <td colspan="2" class="store-log-week-stat-day5"></td>
                  <td colspan="2" class="store-log-week-stat-day6" style="background: rgb(198,213,226);"></td>
                </tr>
              </tr><!-- /.tr-bar -->
            </table><!-- /.tbl-bar w-100 -->
          </div><!-- /.p-3 -->
        </div><!-- /.col-6 pl-0 pr-0 store-log-week-stat-border -->
      </div><!-- /.row -->
    </div><!-- /.col-md-8 m-md-0 col-12 m-3 -->
  </div><!-- /.row store-info -->

  <!-- <script type="text/javascript" th:src="${naverMap}"></script> -->

  <script th:inline="javascript">
  $(function () {
    $('#regdt').val(fn_mclt_dateToString(new Date()).slice(0, 10));

    // $('.store-info #check-total').on('click', fn_mcsti_checkDataLog);
    // $('.store-info #check-danger').on('click', fn_mcsti_checkDataLog);
    // $('.store-info #check-warn').on('click', fn_mcsti_checkDataLog);
    fn_mcsti_getStoreInfo();
    fn_mcsti_getStoreInfoSensorList();
  });

  function fn_mcsti_checkNobtnDatalog(snsrId) {
    $("input:radio[name='snsr-radio-btn']:input[value='" + snsrId + "']").prop('checked', true);
    fn_mcsti_refreshStoreInfo();
  }

  function fn_mcsti_refreshStoreInfo() {
    fn_mcsti_getDataLog();
    fn_mcsti_getLogStat();
  }

  var map = null;
  var marker = [];

  // 상점 정보
  function fn_mcsti_getStoreInfo() {
    $.post(
      $('#contextRoot').val() + '/mng/storeInfoAjax',
      { areacode: $('#prm_areacode').val(), strcode: $('#prm_strcode').val() },
      function (d) {
        if (d.store) {
          $('.store-meta .store-name-cont').html(d.store.STRNAME);
          $('.store-meta .store-addr-cont').html(d.store.STRADDR);
          $('.store-meta .store-tel-cont').html(d.store.STRTEL);
          $('.store-meta .store-owntel-cont').html(d.store.STROWNTEL);

          if (d.store.SEQ) {
            let seq = d.store.SEQ.split(",");
            let imgPath = d.store.IMGPATH.split(",");
            let imgName = d.store.IMGNAME.split(",");
            let oriName = d.store.ORINAME.split(",");

            $('.carousel-indicators').html('');
            $('.carousel-inner').html('');

            for (let i = 0; i < seq.length; i++) {
              $('.carousel-indicators').append('<li data-target="#carouselExampleIndicators" data-slide-to="' + i + '"></li>');

              $('.carousel-inner').append(
                '<div class="carousel-item bg-secondary" style="height: 200px;">' +
                  '<img class="d-block h-100 m-auto" src="http://1.223.40.19:30080/' + imgPath[i] + imgName[i] + '" alt="' + oriName[i] + '" data-holder-rendered="true">' +
                '</div>'
              );

              if (i == 0)
                $('.carousel-indicators li, .carousel-inner div').addClass('active');
            }

            $('.store-img').removeClass('d-none');
          } else {
            $('.carousel-indicators').html('');
            $('.carousel-inner').html('');
            $('.store-img').addClass('d-none');
          }
        }

        // 상점 지도 정보
        if (d.sensor) {
          let markImg = {
            NORMAL: ['/fs/img/map/normal.png', '<span class="badge badge-success badge-pill">&nbsp;</span>'],
            DISCON: ['/fs/img/map/disconnection.png', '<span class="badge badge-secondary badge-pill">&nbsp;</span>'],
            WARNING: ['/fs/img/map/danger.png', '<span class="badge badge-danger badge-pill">&nbsp;</span>'],
            CAUTION: ['/fs/img/map/warning.png', '<span class="badge badge-warning badge-pill">&nbsp;</span>'],
            SELECT: ['/fs/img/map/select.png', '<span class="badge badge-success badge-pill">&nbsp;</span>']
          };

          let markZindex = { NORMAL: 1, DISCON: 0, WARNING: 3, CAUTION: 2 };

          if (map == null) {
            map = new naver.maps.Map($('.store-map')[0], {center: new naver.maps.LatLng(33.450701, 126.570667), zoom: 17});
          }

          for (let i = 0; i < marker.length; i++)
            marker[i].setMap(null);

          $('.store-sensor-cont').html('');

          if (d.sensor.length > 0) {
            for (let i = 0; i < d.sensor.length; i++) {
              let pos = new naver.maps.LatLng(d.sensor[i].STRPOSLAT, d.sensor[i].STRPOSLON);
              if (i == 0)
                map.setCenter(pos);

              marker.push(new naver.maps.Marker({
                map: map,
                title: d.sensor[i].SNSRNICK,
                position: pos,
                zIndex: markZindex[d.sensor[i].STATE],
                icon: {
                  url: $('#contextRoot').val() + markImg[d.sensor[i].STATE][0],
                  size: new naver.maps.Size(26, 35),
                  scaledSize: new naver.maps.Size(26, 35),
                  origin: new naver.maps.Point(0, 0),
                  anchor: new naver.maps.Point(13, 35)
                }
              }));
          }}
        }
    });
  }

  // 센서 목록
  function fn_mcsti_getStoreInfoSensorList() {
    $.post(
      $('#contextRoot').val() + '/mng/todayAreaSensorStateAjax',
      { areacode: $('#prm_areacode').val(), strcode: $('#prm_strcode').val() },
      function (d) {
        $('.store-info-sensor-list').html('');

        for (let i = 0; i < d.length; i++) {
          if (d[i].DANGER > 0)
            d[i].STATE = 'danger';
          else if (d[i].WARN > 0)
            d[i].STATE = 'warn';
          else if (d[i].CON == 0)
            d[i].STATE = 'discon';

          if (d[i].CHK > 0)
            d[i].CHECK = 'CHECKING';

          $('.store-info-sensor-list').append($.tmpl('store-info-sensor', d[i]));
        }

        $("input:radio[name='snsr-radio-btn']:first").prop('checked', true);
        $("input:radio[name='snsr-radio-btn']").on('change', function () { fn_mcsti_refreshStoreInfo(); });

        fn_mcsti_refreshStoreInfo();
    });
  }

  // 측정 데이터 및 로그 정보
  function fn_mcsti_getDataLog() {
    $.post(
      $('#contextRoot').val() + '/mng/dataLogListAjax',
      {
        strcode: $('#prm_strcode').val(),
        areacode: $('#prm_areacode').val(),
        snsrid: $("input:radio[name='snsr-radio-btn']:checked").val(),
        regdt: $('.store-info #regdt').val()
      },
      function (d) {
        $('.store-datalog-list').html('');

        if (d != null && d.length > 0) {
          for (let i = 0; i < d.length; i++) {
            // d[i]['DATALOG'] = '전력: ' + d[i]['SNSRWATT'] + 'kW | 전류: ' + d[i]['SNSRAMPERE'] + 'mA | 누설전류: ' + d[i]['SNSRIGO'] + 'mA';

            // if (d[i]['STATE'])
            //   d[i]['DATALOG'] = d[i]['LCAUSE'];

            $('.store-datalog-list').append($.tmpl('datalog', d[i]));

            if (i == 0) {
              if ($('#regdt').val()) {
                $.post(
                  $('#contextRoot').val() + '/mng/sensorUsekwhMonthAjax',
                  {
                    snsrid: $("input:radio[name='snsr-radio-btn']:checked").val(),
                    regdt: $('.store-info #regdt').val()
                  },
                  function (d) {
                    $('.store-datalog-meta .monkwh td span').text(d);
                });
              }

              $(".store-datalog-meta .kw td span:first").text(d[i].SNSRWATT);
              $(".store-datalog-meta .vo td span:first").text(d[i].SNSRVOLT);
              $(".store-datalog-meta .am td span:first").text(d[i].SNSRAMPERE);
              $(".store-datalog-meta .hz td span:first").text(d[i].SNSRHZ);
              $(".store-datalog-meta .igo td span:first").text(d[i].SNSRIGO);
              $(".store-datalog-meta .igr td span:first").text(d[i].SNSRIGR);
              $(".store-datalog-meta .igc td span:first").text(d[i].SNSRIGC);
              $(".store-datalog-meta .meg td span:first").text(d[i].SNSRREG);
              $(".store-datalog-meta .kwh td span:first").text(d[i].SNSRKWH);
              $(".store-datalog-meta .dbm td span:first").text(d[i].SNSRRSSI);
              $(".store-datalog-meta .datarcvtime td span:first").text(d[i].DATARCVTIME);
            }
          }
        } else {
          $('.store-datalog-list').html('데이터가 없습니다');
        }

        $('.store-datalog-list p').show();
    });
  }

  // 3일간 경보
  function fn_mcsti_getLogStat() {
    $.post(
      $('#contextRoot').val() + '/mng/logStatAjax',
      {
        strcode: $('#prm_strcode').val(),
        areacode: $('#prm_areacode').val(),
        snsrid: $("input:radio[name='snsr-radio-btn']:checked").val()
      },
      function (d) {
        if (d.threedays) {
          let max = -1;

          for (let i = 0; i < d.threedays.length; i++) {
            if (max < d.threedays[i].DANGER) max = d.threedays[i].DANGER;
            if (max < d.threedays[i].WARN) max = d.threedays[i].WARN;
          }

          for (let i = 0; i < d.threedays.length; i++) {
            $(".store-log-3days-stat-day" + i).text(d.threedays[i].DATETIME);

            if (max == 0) {
              $(".store-log-3days-stat-d" + i + " .danger-this").css("paddingTop", '0px');
              $(".store-log-3days-stat-d" + i + " .danger-this b").text('0');
              $(".store-log-3days-stat-w" + i + " .warn-this").css("paddingTop", '0px');
              $(".store-log-3days-stat-w" + i + " .warn-this b").text('0');
            } else {
              $(".store-log-3days-stat-d" + i + " .danger-this").css("paddingTop", 70 * d.threedays[i].DANGER / max + 'px');
              $(".store-log-3days-stat-d" + i + " .danger-this b").text(d.threedays[i].DANGER);
              $(".store-log-3days-stat-w" + i + " .warn-this").css("paddingTop", 70 * d.threedays[i].WARN / max + 'px');
              $(".store-log-3days-stat-w" + i + " .warn-this b").text(d.threedays[i].WARN);
        }}}

        if (d.week) {
          let max = -1;

          for (let i = 0; i < d.week.length; i++) {
            if (max < d.week[i].DANGER) max = d.week[i].DANGER;
            if (max < d.week[i].WARN) max = d.week[i].WARN;
          }

          for (let i = 0; i < d.week.length; i++) {
            $(".store-log-week-stat-day" + i).text(d.week[i].DATETIME);

            if (max == 0) {
              $(".store-log-week-stat-d" + i + " .danger-this").css("paddingTop", '0px');
              $(".store-log-week-stat-d" + i + " .danger-this b").text('0');
              $(".store-log-week-stat-w" + i + " .warn-this").css("paddingTop", '0px');
              $(".store-log-week-stat-w" + i + " .warn-this b").text('0');
            } else {
              $(".store-log-week-stat-d" + i + " .danger-this").css("paddingTop", 70 * d.week[i].DANGER / max + 'px');
              $(".store-log-week-stat-d" + i + " .danger-this b").html(d.week[i].DANGER);
              $(".store-log-week-stat-w" + i + " .warn-this").css("paddingTop", 70 * d.week[i].WARN / max + 'px');
              $(".store-log-week-stat-w" + i + " .warn-this b").html(d.week[i].WARN);
        }}}
    });
  }
  </script>
</div>