<script type="text/javascript" th:src="@{/fs/js/jquery.js}"></script>
<input id="contextRoot" type="hidden" th:value="${#httpServletRequest.getContextPath()}" />

<div class="sub-cont w-100">
  <input id="prm_areacode" type="hidden" th:value="${prm_areacode}" />
  <input id="prm_strcode" type="hidden" th:value="${prm_strcode}" />
  <input id="prm_snsrid" type="hidden" th:value="${prm_snsrid}" />

  <div class="row store-info">
    <div class="col-md-4 col-12">
      <div class="store-map" style="width: 100%; height: 240px; background: #ddd;"></div>
      <div class="store-img">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators"></ol>
          <div class="carousel-inner"></div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- /#carouselExampleIndicators -->
      </div><!-- /.store-img -->
      <table class="store-meta w-100">
        <tr class="store-name"><th>상점명</th><td class="store-name-cont"></td></tr>
        <tr class="store-addr"><th>주소</th><td class="store-addr-cont"></td></tr>
        <tr class="store-tel"><th>연락처</th><td class="store-tel-cont"></td></tr>
        <tr class="store-owntel"><th>상점주</th><td class="store-owntel-cont"></td></tr>
        <tr class="store-owntel"><td colspan="2"><div class="store-info-sensor-list"></div></td></tr>
      </table>
    </div><!-- /.store-img -->
    <div class="col-md-8 m-md-0 col-12 m-3">
      <div class="row mt-2">
        <div class="col-5">
          <table class="store-datalog-meta" style="margin-top:30px;">
            <tr class="monkwh"><th>사용전력량</th><td><span></span>kWh</td></tr>
            <tr class="kw"><th>전력</th><td><span></span><span style="margin-right: 7px;">kW</span></td></tr>
            <tr class="vo"><th>전압</th><td><span></span><span style="margin-right: 17px;">V</span></td></tr>
            <tr class="am"><th>전류</th><td><span></span><span style="margin-right: 17px;">A</span></td></tr>
            <tr class="hz"><th>주파수</th><td><span></span><span style="margin-right: 10px;">Hz</span></td></tr>
            <tr class="igo"><th>누설전류(IGO)</th><td><span></span><span style="margin-right: 6px;">mA</span></td></tr>
            <tr class="igr"><th>누설전류(IGR)</th><td><span></span><span style="margin-right: 6px;">mA</span></td></tr>
            <tr class="igc"><th>누설전류(IGC)</th><td><span></span><span style="margin-right: 6px;">mA</span></td></tr>
            <tr class="meg"><th>절연저항</th><td><span></span><span style="margin-right: 7px;">MΩ</span></td></tr>
            <tr class="kwh"><th>누적전력량</th><td><span></span><span style="margin-right: 2px;">kWh</span></td></tr>
            <tr class="dbm"><th>수신감도(RSSI)</th><td><span></span><span style="margin-right: 2px;">dBm</span></td></tr>
          </table>
        </div>
        <div class="col-7">
          <div class="row pl-2">
            <div class="col-12 align-middle">
<!--              <div class="form-group custom-control custom-checkbox custom-control-inline">-->
<!--                <input type="checkbox" class="custom-control-input" id="check-total">-->
<!--                <label class="custom-control-label" for="check-total">전체</label>-->
<!--              </div>&lt;!&ndash; /#check-total &ndash;&gt;-->
              <!--
              <div class="form-group custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check-danger" checked="checked">
                <label class="custom-control-label" for="check-danger">경고</label>
              </div>&lt;!&ndash; /#check-danger &ndash;&gt;
              <div class="form-group custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check-warn">
                <label class="custom-control-label" for="check-warn">주의</label>
              </div>&lt;!&ndash; /#check-warn &ndash;&gt;
              -->
              <div class="form-group custom-control-inline mb-0">
                <input class="form-control" id="regdt" type="date" />
              </div>

              <button type="button" class="btn btn-sm btn-success waves-effect waves-themed" onclick="fn_getDataLog();">조회</button>
            </div><!-- /.col-12 align-middle -->
          </div><!-- /.row pl-2 -->

          <div class="mt-1 store-datalog-list alert alert-info bg-white"></div>
        </div>
      </div>

      <div class="row ml-0 mr-0">
        <div class="col-6 pl-0 pr-0 store-log-3days-stat-border">
          <div class="store-log-3days-stat-title">누적 경보</div>
          <div class="row ml-0 mr-0">
            <div class="col-6 pl-0 pr-0">
              <div class="store-log-3days-stat-type">경고</div>
              <div class="p-3">
                <table class="tbl-bar w-100">
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-d0">
                      <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td>
                    <td class="store-log-3days-stat-d1">
                      <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td>
                    <td class="store-log-3days-stat-d2" style="background: rgb(198,213,226);">
                      <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b>0</b></span></span>
                    </td>
                  </tr>
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-day0"></td>
                    <td class="store-log-3days-stat-day1"></td>
                    <td class="store-log-3days-stat-day2" style="background: rgb(198,213,226);"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-6 pl-0 pr-0">
              <div class="store-log-3days-stat-type">주의</div>
              <div class="p-3">
                <table class="tbl-bar w-100">
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-w0">
                      <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td>
                    <td class="store-log-3days-stat-w1">
                      <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b>0</b></span></span>
                    </td>
                    <td class="store-log-3days-stat-w2" style="background: rgb(198,213,226);">
                      <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b>0</b></span></span>
                    </td>
                  </tr>
                  <tr class="tr-bar">
                    <td class="store-log-3days-stat-day0"></td>
                    <td class="store-log-3days-stat-day1"></td>
                    <td class="store-log-3days-stat-day2" style="background: rgb(198,213,226);"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 pl-0 pr-0 store-log-week-stat-border">
<!--          <h3 style="margin: 10px 0; border-bottom: 2px solid #ddd;">일주일 경보</h3>-->
<!--          <div class="store-log-week-stat alert alert-info bg-white mb-0" role="alert">-->
<!--            <div class="text-center">-->
<!--              <span class="bg-danger-100">&nbsp;&nbsp;&nbsp;</span>-->
<!--              <span class="bg-warning-300">&nbsp;&nbsp;&nbsp;</span>-->
<!--              지난주-->
<!--              <span class="bg-danger ml-3">&nbsp;&nbsp;&nbsp;</span>-->
<!--              <span class="bg-warning">&nbsp;&nbsp;&nbsp;</span>-->
<!--              이번주-->
<!--            </div>-->

<!--            <table class="tbl-bar">-->
<!--              <tr class="tr-bar">-->
<!--                <td rowspan="2"><h1>경<br/>고</h1></td>-->
<!--                <td class="w1"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w1"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w2 bl"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w2"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w3 bl"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w3"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w4 bl"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w4"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w5 bl"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w5"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w6 bl"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w6"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w7 bl"><span class="block"><span class="btn-datalog danger-prev bg-danger-100 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w7"><span class="block"><span class="btn-datalog danger-this bg-danger progress-bar"><b>0</b></span></span></td>-->
<!--              </tr>-->
<!--            </table>-->
<!--            <table class="tbl-bar w-100">-->
<!--              <tr class="tr-bar">-->
<!--                <td rowspan="2"><h1>주<br/>의</h1></td>-->
<!--                <td class="w1"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w1"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w2 bl"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w2"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w3 bl"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w3"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w4 bl"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w4"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w5 bl"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w5"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w6 bl"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w6"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w7 bl"><span class="block"><span class="btn-datalog warn-prev bg-warning-300 progress-bar"><b>0</b></span></span></td>-->
<!--                <td class="w7"><span class="block"><span class="btn-datalog warn-this bg-warning progress-bar"><b>0</b></span></span></td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </div>-->
          <div class="store-log-week-stat-title">일주일 경보</div>
          <div class="text-center">
            <span class="bg-danger">&nbsp;&nbsp;&nbsp;</span> 경고
            <span class="bg-warning">&nbsp;&nbsp;&nbsp;</span> 주의
          </div>
          <div class="p-3">
            <table class="tbl-bar w-100">
              <tr class="tr-bar">
                <td class="store-log-week-stat-d0">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w0">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d1">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w1">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d2">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w2">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d3">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w3">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d4">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w4">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d5">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w5">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-d6" style="background: rgb(198,213,226);">
                  <span class="block"><span class="btn-datalog danger-this bg-danger progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <td class="store-log-week-stat-w6" style="background: rgb(198,213,226);">
                  <span class="block"><span class="btn-datalog warn-this bg-warning progress-bar progress-bar-striped progress-bar-animated" style="padding-top: 0px;"><b style="writing-mode: tb-rl;">0</b></span></span>
                </td>
                <tr class="tr-bar">
                  <td colspan="2" class="store-log-week-stat-day0"></td>
                  <td colspan="2" class="store-log-week-stat-day1"></td>
                  <td colspan="2" class="store-log-week-stat-day2"></td>
                  <td colspan="2" class="store-log-week-stat-day3"></td>
                  <td colspan="2" class="store-log-week-stat-day4"></td>
                  <td colspan="2" class="store-log-week-stat-day5"></td>
                  <td colspan="2" class="store-log-week-stat-day6" style="background: rgb(198,213,226);"></td>
                </tr>
              </tr>
            </table>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.col-md-8 m-md-0 col-12 m-3 -->
  </div><!-- /.row store-info -->

  <script type="text/javascript" th:src="${naverMap}"></script>

  <script type="text/javascript">
  $(function() {
    fn_initStoreInfo();
  });

  function fn_initStoreInfo() {
    $.template('store-info-sensor',
      '<div class="form-inline">' +
        '<p class="mb-0 mr-1"><input type="radio" name="snsr-radio-btn" value="{{html SNSRID}}" /></p>' +
        '<p class="store-info-check {{html CHECK}}">' +
          '<span class="btn-check-start" data-snsrid="{{html SNSRID}}">점검</span>' +
          '<span class="btn-check-end" data-snsrid="{{html SNSRID}}">점검중</span>' +
        '</p>' +
        '<p class="nobtn-datalog {{html STATE}}" data-snsrid="{{html SNSRID}}" data-checktype="{{html STATE}}" onclick="fn_checkNobtnDatalog(\'${SNSRID}\')">' +
          '{{html SNSRNICK}} ({{html SNSRIDTRIM}})' +
        '</p>' +
      '</div>');

    $.template('datalog',
      '<p class="{{html STATE}}" data-regdate="{{html REGDATE}}" data-almtype="{{html ALMTYPE}}">' +
        '[{{html SNSRRCVTIME}}] {{html SNSRID}} : {{html DATALOG}}' +
      '</p>');

    $('#regdt').val(fn_dateToString(new Date()).slice(0, 10));

    // $('.store-info #check-total').on('click', fn_checkDataLog);
    // $('.store-info #check-danger').on('click', fn_checkDataLog);
    // $('.store-info #check-warn').on('click', fn_checkDataLog);

    $('.store-info').on('click', '.btn-check-start', function() {
      if (confirm('점검 등록할까요?')) {
        $.post(
            $('#contextRoot').val() + '/mng/startCheckAjax'
          , { 'snsrid': $(this).attr('data-snsrid') }
          , function(d) {
              if (d == 'success') {
                alert('점검 등록 되었습니다.');

                fn_getStoreInfoSensorList();
                fn_getCheckSensorList();
              } else {
                alert('점검 등록을 실패하였습니다.');
              }
            }
        );
      }
    });

    $('.store-info').on('click', '.btn-check-end', function() {
      if (confirm('점검 완료할까요?')) {
        $.post(
            $('#contextRoot').val() + '/mng/endCheckAjax'
          , { 'snsrid': $(this).attr('data-snsrid') }
          , function(d) {
              if (d == 'success') {
                alert('점검 완료 되었습니다.');

                fn_getStoreInfoSensorList();
                fn_getCheckSensorList();
              } else {
                alert('점검 완료를 실패하였습니다.');
              }
            }
        );
      }
    });

    fn_getStoreInfo();
    fn_getSensorList();
    fn_getListStoreImg();

    fn_getStoreInfoSensorList();
  }

  function fn_checkNobtnDatalog(snsrId) {
    $("input:radio[name='snsr-radio-btn']:input[value='" + snsrId + "']").prop('checked', true);
    fn_refreshStoreInfo();
  }

  function fn_refreshStoreInfo() {
    fn_getDataLog();
    fn_getLog3DaysStat();
    fn_getLogWeekStat();
  }

  // function fn_checkDataLog() {
  //   if ($(this).attr('id') == 'check-total')
  //     $('.store-info #check-danger, .store-info #check-warn').prop('checked', false);
  //
  //   $('.store-info #check-total')
  //     .prop('checked', $('.store-info #check-danger:checked').length + $('.store-info #check-warn:checked').length == 0);
  //
  //   fn_showDataLog();
  // }

  // function fn_showDataLog() {
  //   if ($('.store-info #check-total:checked').length > 0)
  //    $('.store-datalog-list p').show();
  //   else
  //     $('.store-datalog-list p').hide();
  //
  //   if ($('.store-info #check-danger:checked').length > 0)
  //     $('.store-datalog-list p.DANGER').show();
  //
  //   if ($('.store-info #check-warn:checked').length > 0)
  //     $('.store-datalog-list p.WARN').show();
  // }

  function fn_getStoreInfo() {
    $.post(
        $('#contextRoot').val() + '/mng/storeInfoAjax'
      , { 'snsrid': $('#prm_snsrid').val() }
      , function(d) {
          $('.store-meta .store-name-cont').html(d[0]['STRNAME']);
          $('.store-meta .store-addr-cont').html(d[0]['STRADDR']);
          $('.store-meta .store-tel-cont').html(d[0]['STRTEL']);
          $('.store-meta .store-owntel-cont').html(d[0]['STROWNTEL']);
        }
    );
  }

  var map = null;
  var marker = [];

  function fn_setSensor(d) {
    let markImg = {
        NORMAL: ['/fs/img/map/normal.png', '<span class="badge badge-success badge-pill">&nbsp;</span>']
      , DISCON: ['/fs/img/map/disconnection.png', '<span class="badge badge-secondary badge-pill">&nbsp;</span>']
      , WARNING: ['/fs/img/map/danger.png', '<span class="badge badge-danger badge-pill">&nbsp;</span>']
      , CAUTION: ['/fs/img/map/warning.png', '<span class="badge badge-warning badge-pill">&nbsp;</span>']
      , SELECT: ['/fs/img/map/select.png', '<span class="badge badge-success badge-pill">&nbsp;</span>']
    };

    let markZindex = { NORMAL: 1, DISCON: 0, WARNING: 3, CAUTION: 2 };

    if (map == null) {
      let options = { center: new naver.maps.LatLng(33.450701, 126.570667), zoom: 17 };
      map = new naver.maps.Map($('.store-map')[0], options);
    }

    for (let i = 0; i < marker.length; i++)
      marker[i].setMap(null);

    $('.store-sensor-cont').html('');

    if (d.length > 0) {
      for (let i = 0; i < d.length; i++) {
        //var lot = d[i].SNSRMGPS.split(',');
        //var pos = new naver.maps.LatLng(lot[0], lot[1]);
        let pos = new naver.maps.LatLng(d[i]['STRPOSLAT'], d[i]['STRPOSLON']);
        if (i == 0)
          map.setCenter(pos);

        marker.push(new naver.maps.Marker({
            map: map
          , title: d[i]['SNSRNICK']
          , position: pos
          , zIndex: markZindex[d[i]['STATE']]
          , icon: {
                url: $('#contextRoot').val() + markImg[d[i]['STATE']][0]
              , size: new naver.maps.Size(26, 35)
              , scaledSize: new naver.maps.Size(26, 35)
              , origin: new naver.maps.Point(0, 0)
              , anchor: new naver.maps.Point(13, 35)
            }
        }));

        //$('.store-sensor-cont').append('<p>' + markImg[d[i].STATE][1] + ' ' + d[i].PANELNAME + ' >' + d[i].SNSRNICK + ' (' + d[i].SNSRID + ')</p>');
      }
    }
  }

  function fn_getSensorList() {
    $.post(
        $('#contextRoot').val()+'/mng/listSensorAjax'
      , { 'areacode': $('#prm_areacode').val(), 'strcode': $('#prm_strcode').val() }
      , function(d) { fn_setSensor(d); }
    );
  }

  function fn_getListStoreImg() {
    $.post(
        $('#contextRoot').val() + '/mng/storeImgAjax'
      , { 'areacode': $('#prm_areacode').val(), 'strcode': $('#prm_strcode').val() }
      , function(d) {
          if (d.length) {
            $('.carousel-indicators').html('');
            $('.carousel-inner').html('');

            for (let i = 0; i < d.length; i++) {
              $('.carousel-indicators').append('<li data-target="#carouselExampleIndicators" data-slide-to="' + i + '"></li>');

              $('.carousel-inner').append(
                '<div class="carousel-item bg-secondary" style="height: 200px;">' +
                  '<img class="d-block h-100 m-auto" src="http://1.223.40.19:30080/' + d[i]['IMGPATH'] + d[i]['IMGNAME'] + '" alt="' + d[i]['ORINAME'] + '" data-holder-rendered="true">' +
                '</div>'
              );

              if (i == 0)
                $('.carousel-indicators li, .carousel-inner div').addClass('active');
            }

            $('.store-img').removeClass('d-none');
          } else {
            $('.carousel-indicators').html('');
            $('.carousel-inner').html('');
            $('.store-img').addClass('d-none');
          }
        }
    );
  }

  function fn_getStoreInfoSensorList() {
    $.post(
        $('#contextRoot').val() + '/mng/areaSensorListAjax'
      , { 'areacode': $('#prm_areacode').val(), 'strcode': $('#prm_strcode').val() }
      , function(d) {
          $('.store-info-sensor-list').html('');

          for (let i = 0; i < d.length; i++) {
            if      (d[i]['DANGER'] > 0) d[i]['STATE'] = 'danger';
            else if (d[i]['WARN'] > 0)   d[i]['STATE'] = 'warn';
            else if (d[i]['CON'] == 0)   d[i]['STATE'] = 'discon';

            if      (d[i]['CHK'] > 0)    d[i]['CHECK'] = 'CHECKING';

            $('.store-info-sensor-list').append($.tmpl('store-info-sensor', d[i]));
          }

          $("input:radio[name='snsr-radio-btn']:first").prop('checked', true);
          $("input:radio[name='snsr-radio-btn']").on('change', function() { fn_refreshStoreInfo(); });
          fn_refreshStoreInfo();
        }
    );
  }

  function fn_getDataLog() {
    $.post(
        $('#contextRoot').val() + '/mng/dataLogListAjax'
      , {
            'strcode': $('#prm_strcode').val()
          , 'areacode': $('#prm_areacode').val()
          , 'snsrid': $("input:radio[name='snsr-radio-btn']:checked").val()
          , 'regdt': $('.store-info #regdt').val()
        }
      , function(d) {
          $('.store-datalog-list').html('');

          if ( d != null && d.length > 0) {
            for (let i = 0; i < d.length; i++) {
              d[i]['DATALOG'] = '전력: ' + d[i]['SNSRWATT'] + 'kW | 전류: ' + d[i]['SNSRAMPERE'] + 'mA | 누설전류: ' + d[i]['SNSRIGO'] + 'mA';

              if (d[i]['STATE'])
                d[i]['DATALOG'] = d[i]['LCAUSE'];

              $('.store-datalog-list').append($.tmpl('datalog', d[i]));

              if (i == 0) {
                if ($('#regdt').val()) {
                  $.post(
                    $('#contextRoot').val() + '/mng/sensorUsekwhMonthAjax'
                    , { 'snsrid': $("input:radio[name='snsr-radio-btn']:checked").val(), 'regdt': $('.store-info #regdt').val() }
                    , function(d) {
                        $('.store-datalog-meta .monkwh td span').text(d[0]['USEKWH']);
                      }
                  );
                }

                $(".store-datalog-meta .kw td span:first").text(d[i]['SNSRWATT']);
                $(".store-datalog-meta .vo td span:first").text(d[i]['SNSRVOLT']);
                $(".store-datalog-meta .am td span:first").text(d[i]['SNSRAMPERE']);
                $(".store-datalog-meta .hz td span:first").text(d[i]['SNSRHZ']);
                $(".store-datalog-meta .igo td span:first").text(d[i]['SNSRIGO']);
                $(".store-datalog-meta .igr td span:first").text(d[i]['SNSRIGR']);
                $(".store-datalog-meta .igc td span:first").text(d[i]['SNSRIGC']);
                $(".store-datalog-meta .meg td span:first").text(d[i]['SNSRREG']);
                $(".store-datalog-meta .kwh td span:first").text(d[i]['SNSRKWH']);
                $(".store-datalog-meta .dbm td span:first").text(d[i]['SNSRRSSI']);
              }
            }

            // if ($('.store-datalog-list p.DANGER').length > 0) {
            //   if ($('.store-info #check-danger:checked').length < 1) {
            //     $('.store-info #check-danger').click();
            //   }
            // } else if ($('.store-datalog-list p.WARN').length > 0) {
            //   if ($('.store-info #check-warn:checked').length < 1) {
            //     $('.store-info #check-warn').click();
            //   }
            // } else if ($('.store-info #check-total:checked').length < 1) {
            //   $('.store-info #check-total').click();
            // }

            // fn_showDataLog();
          } else {
            $('.store-datalog-list').html('데이터가 없습니다');
          }

          $('.store-datalog-list p').show();
        }
    );
  }

  function fn_getLog3DaysStat() {
    $.post(
        $('#contextRoot').val() + '/mng/log3DaysStatAjax'
      , { 'strcode': $('#prm_strcode').val(), 'areacode': $('#prm_areacode').val(), 'snsrid': $("input:radio[name='snsr-radio-btn']:checked").val() }
      , function(d) {
          let max = -1;

          for (let i = 0; i < d.length; i++) {
            if (max < d[i]['DANGER']) max = d[i]['DANGER'];
            if (max < d[i]['WARN'])   max = d[i]['WARN'];
          }

          for (let i = 0; i < d.length; i++) {
            $(".store-log-3days-stat-day" + i).text(d[i]['DATETIME']);

            if (max == 0) {
              $(".store-log-3days-stat-d" + i + " .danger-this").css("paddingTop", '0px');
              $(".store-log-3days-stat-d" + i + " .danger-this b").text('0');
              $(".store-log-3days-stat-w" + i + " .warn-this").css("paddingTop", '0px');
              $(".store-log-3days-stat-w" + i + " .warn-this b").text('0');
            } else {
              $(".store-log-3days-stat-d" + i + " .danger-this").css("paddingTop", 70 * d[i]['DANGER'] / max + 'px');
              $(".store-log-3days-stat-d" + i + " .danger-this b").text(d[i]['DANGER']);
              $(".store-log-3days-stat-w" + i + " .warn-this").css("paddingTop", 70 * d[i]['WARN'] / max + 'px');
              $(".store-log-3days-stat-w" + i + " .warn-this b").text(d[i]['WARN']);
            }
          }
        }
    );
  }

  function fn_getLogWeekStat() {
    $.post(
        $('#contextRoot').val() + '/mng/logWeekStatAjax'
      , { 'strcode': $('#prm_strcode').val(), 'areacode': $('#prm_areacode').val(), 'snsrid': $("input:radio[name='snsr-radio-btn']:checked").val() }
      , function(d) {
          // let temp = [];
          //
          // for (let i = 0; i < d.length; i++) {
          //   if (d[i]['WEEK'] == 1) {
          //     temp = d.slice(i);
          //     break;
          //   }
          // }
          //
          // let dmax = Math.max.apply(null, temp.map(function(o) { return o.DANGER; } ));
          // let wmax = Math.max.apply(null, temp.map(function(o) { return o.WARN; } ));
          // let a = 'prev';
          //
          // for (let i = 0; i < temp.length; i++) {
          //   let danger_bar = $('.store-log-week-stat td.w' + temp[i]['WEEK'] + ' .danger-' + a);
          //   danger_bar.css('padding-top', 70 * temp[i]['DANGER'] / dmax + 'px');
          //   danger_bar.text(temp[i]['DANGER']);
          //   danger_bar.attr('data-regdate', temp[i]['SDATE']);
          //   danger_bar.attr('data-checktype', 'danger');
          //
          //   let warn_bar = $('.store-log-week-stat td.w' + temp[i]['WEEK'] + ' .warn-' + a);
          //   warn_bar.css('padding-top', 70 * temp[i]['WARN'] / wmax + 'px');
          //   warn_bar.text(temp[i]['WARN']);
          //   warn_bar.attr('data-regdate', temp[i]['SDATE']);
          //   warn_bar.attr('data-checktype', 'warn');
          //
          //   if (temp[i]['WEEK'] == 7)
          //     a = 'this';
          // }
          //
          // let this_week = temp[temp.length - 1].WEEK;
          // $('.store-log-week-stat td').css('background', 'transparents');
          // $('.store-log-week-stat td.w' + this_week).css('background', '#e7f0f8');
          //
          // $('.store-log-week-stat td.w' + this_week + ' .danger-this').addClass('progress-bar-striped');
          // $('.store-log-week-stat td.w' + this_week + ' .danger-this').addClass('progress-bar-animated');
          // $('.store-log-week-stat td.w' + this_week + ' .warn-this').addClass('progress-bar-striped');
          // $('.store-log-week-stat td.w' + this_week + ' .warn-this').addClass('progress-bar-animated');
          //
          // $('.store-log-week-stat td .danger-this').show();
          // $('.store-log-week-stat td .warn-this').show();
          //
          // for (let i = this_week + 1; i < 8; i++) {
          //   $('.store-log-week-stat td.w' + i + ' .danger-this').hide();
          //   $('.store-log-week-stat td.w' + i + ' .warn-this').hide();
          // }
            let max = -1;

            for (let i = 0; i < d.length; i++) {
              if (max < d[i]['DANGER']) max = d[i]['DANGER'];
              if (max < d[i]['WARN'])   max = d[i]['WARN'];
            }

            for (let i = 0; i < d.length; i++) {
              $(".store-log-week-stat-day" + i).text(d[i]['DATETIME']);

              if (max == 0) {
                $(".store-log-week-stat-d" + i + " .danger-this").css("paddingTop", '0px');
                $(".store-log-week-stat-d" + i + " .danger-this b").text('0');
                $(".store-log-week-stat-w" + i + " .warn-this").css("paddingTop", '0px');
                $(".store-log-week-stat-w" + i + " .warn-this b").text('0');
              } else {
                $(".store-log-week-stat-d" + i + " .danger-this").css("paddingTop", 70 * d[i]['DANGER'] / max + 'px');
                $(".store-log-week-stat-d" + i + " .danger-this b").html(d[i]['DANGER']);
                $(".store-log-week-stat-w" + i + " .warn-this").css("paddingTop", 70 * d[i]['WARN'] / max + 'px');
                $(".store-log-week-stat-w" + i + " .warn-this b").html(d[i]['WARN']);
              }
            }
        }
    );
  }
  </script>
</div>