@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

body {
    font-family: 'NanumBarunGothic', sans-serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 900;
}

.panel-toolbar .btn-panel {
    width: 1.5rem !important;
    height: 1.5rem !important;
    padding-top: 3px;
}

.page-content {
    padding: 1rem 0.1rem 1rem 0.1rem !important
}

.page-content .panel {
    margin-bottom: 0.5rem !important;
}

.border-radius-md {
    border-radius: .5rem;
}

.shadow-lg {
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
}

.today-date {
    width: 100%;
    letter-spacing: 0.25rem;
    font-size: calc(21px - 0.1vmin);
}

.today-time {
    font-size: calc(18px - 0.1vmin);
    letter-spacing: 0.2rem;
}

.weather-temp {
    font-size: calc(73px - 0.1vmin);
    margin-top: 10px;
    letter-spacing: 0.40rem;
}

hr.horizontal.dark {
    background-image: linear-gradient(175deg, transparent,rgba(0,0,0,1),transparent);
}

hr.horizontal {
    background-color: transparent;
}

hr:not([size]) {
    height: 1px;
}

hr {
    margin: 1.200rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
.monitor-box {
    text-align: center; padding-top: 10px; padding-bottom: 10px; border-radius: 10px;
}
.monitor-box-text {
    color: #ffffff !important; font-size: calc(20px + 1vmin); font-weight: bold;
}
.monitor-box-count {
    color: #ffffff !important; font-size: 2.5rem; font-weight: bold;
}