<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <th:block th:replace="mng/challenge/layout/mc_head"></th:block>
  <link rel="stylesheet" th:href="@{/fs/css/custom.css}"/>
  <style>
    #reportModal .modal-header, .img-title {
      padding: 0.3rem;
      background-color: #2B559B;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 17px;
    }

    .img-section {
      border: 1px solid black;
    }

    .center-main-cont {
      overflow-y: auto !important;
    }

    .progress-bar {
      overflow: visible;
      color: black;
      text-align: left;
    }

    .modal-body .printTable td, .modal-body .printTable th {
      font-size: 15px;
      color: #333!important;
      padding: 0.5rem;
    }

    .modal-body .table-bordered, .modal-body .table-bordered td, .modal-body .table-bordered th {
      border: 1px solid #d8dbe0;
    }
    .modal-body .table-sm td, .modal-body .table-sm th {
      padding: 0.3rem;
    }
    .modal-body .table td, .modal-body .table th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #d8dbe0;
    }

    .modal-body .table-title {
      font-size: 19px!important;
    }
    .modal-body .wme_table_td_title {
      font-weight: 700;
      background-color: hsla(0,0%,87.1%,.3);
      color: #444;
      font-size: 14px;
    }
    .modal-body .text-center {
      text-align: center!important;
    }
    .modal-body .title {
      font-weight: 900!important;
      font-size: 25px!important;
    }
    .modal-body .subTitle {
      font-weight: 600!important;
      font-size: 18px!important;
      color: #2ca8ff!important;
    }
  </style>
</head>

<body class="mod-bg-1 mod-nav-link">
<div class="top">
  <th:block th:replace="mng/challenge/layout/img_top"></th:block>
</div><!-- /전체 / 경고 / 주의 / 끊김 -->

<div class="row">

  <div class="center col-md-10 col-12">
    <div id="center-main-cont" class="center-main-cont">
      <div class="row">
        <div class="col-12 sortable-grid ui-sortable pl-5 pr-5">
          <div class="img-section pb-2 mb-3">
            <div class="img-title mb-2">구역 관리</div>
            <div class="col-md-12 row image-select">
              <input type="hidden" id="areaCode" value="AREA_000001">
              <div class="col-md-1 image-select-button">
              </div>
              <div class="col-md-7">
                <div class="pl-1 col-12 col-sm-12 col-lg-12">
                  <div class="animated fadeIn m-1 mb-1">
                    <div class="row">
                      <div class="ground-map-container">
                        <div style="position: relative; width: auto; height: auto;">
                          <div id="area-img"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <table id="useKwhByGrp" class="table table-bordered table-sm mb-0">
                  <thead>
                  <tr>
                    <th>위치</th>
                    <th>이번달 사용전력(%)</th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12 row p-0 m-0">
            <div class="col-md-4 pl-0">
              <div class="img-section pb-2">
                <div class="img-title mb-2">위치 : <span id="grpName"></span></div>
                <div id="snsr-list" style="height:200px; overflow: auto">
                  <table id="useKwhBySnsr" class="table table-bordered table-sm mb-0">
                    <thead>
                    <tr>
                      <th>센서명</th>
                      <th>이번달 사용전력(kWh)</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-8 pr-0">
              <div class="img-section">
                <div class="img-title">
                  센서명 : <span id="snsrName"></span>
                  <span class="center-main-btn m-0 pt-0 pb-0">자세히 보기</span>
                </div>
                <div class="col-md-12 row">
                  <input type="hidden" id="snsrId" value=""/>
                  <div class="col-md-6">
                    <div id="me_snsr_kwh_chart"></div>
                  </div>
                  <div class="col-md-6">
                    <div id="me_snsr_evt_chart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /#center-main-cont (시장별 현황) -->

    <th:block th:replace="mng/challenge/img/img_store"></th:block>

  </div><!-- /.center -->
  <div class="right col-md-2 mt-md-n7 col-12 mt-0">
    <th:block th:replace="mng/challenge/layout/img_right"></th:block>
  </div><!-- /경고 / 주의 / 고장 -->
</div><!-- /.row -->
<div class="bottom">
  <th:block th:replace="mng/challenge/layout/mc_bottom"></th:block>
</div>


<div id="menuModal" class="modal fade default-example-modal-left-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-left modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4">Firsens 관리자 메뉴</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <nav id="js-primary-nav" class="primary-nav" role="navigation">
          <ul id="js-nav-menu" class="nav-menu">
            <li>
              <a href="javascript:void(0)" onclick="fn_mcmi_openReportModal()">
                  <i class="fal fa-chart-pie"></i>
                  보고서
              </a>
            </li>
          </ul><!-- /#js-nav-menu -->
        </nav><!-- /#js-primary-nav -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal-dialog (side menu) -->

<th:block th:replace="mng/challenge/img/img_report"></th:block>


<script th:src="@{/fs/js/polyfill.min.js}"></script>
<script th:src="@{/fs/js/apexcharts.js}"></script>
<script th:src="@{/fs/js/mciMainInit.js}"></script>
<script th:src="@{/fs/js/jquery.maphilight.js}"></script>

<script type="text/javascript" th:src="${naverMap}"></script>

<script type="text/javascript">
  $(function () {
    fn_mcmii_initTimer();
    fn_mcmii_initTemplate();
    fn_mcmii_initClickEvent();
    fn_mcmi_initMainAreaList();
    fn_mcmi_initTodayState();
    fn_mcmi_initImageSelect();
    fn_mcmii_toggleCenterCont();
  });

  // 오늘 센서 전체 현황, 점검센서 목록, 경고/주의/고장 센서 목록 조회
  function fn_mcmi_initTodayState() {
    $('.left-list-sensor').html('');
    $('.list-sensor').html('');

    $.post(
      $('#contextRoot').val() + '/img/todayTotalStateAjax',
      {},
      function (d) {
        if (d) {
          // 오늘 센서 전체 현황
          if (d.total)
            for (let i = 0; i < d.total.length; i++)
              $('.COUNT-' + d.total[i].TERM + d.total[i].TYPE).text(fn_mcmii_numberWithCommas(d.total[i].CNT));

          // 점검센서
          if (d.check) {
            for (let i = 0; i < d.check.length; i++)
              $('.sensors-' + d.check[i].STATE + ' .left-list-sensor').append($.tmpl('left-check-sensor', d.check[i]));

            $('.sensors-CHECK .cnt').text('(' + $('.sensors-CHECK .left-list-sensor p').length + ')');
          }

          // 경고/주의/끊김
          if (d.abnormal) {
            for (let i = 0; i < d.abnormal.length; i++)
              $('.sensors-' + d.abnormal[i].STATE + ' .list-sensor').append($.tmpl('right-sensor', d.abnormal[i]));

            $('.sensors-DANGER .cnt').text('(' + $('.sensors-DANGER .list-sensor p').length + ')');
            $('.sensors-WARN .cnt').text('(' + $('.sensors-WARN .list-sensor p').length + ')');
            $('.sensors-DISCON .cnt').text('(' + $('.sensors-DISCON .list-sensor p').length + ')');
          }
        }
      });
  }

  // 구/시장별 센서상태 현황
  function fn_mcmi_initMainAreaList() {
    $('.list-area').html('');

    $.post(
      $('#contextRoot').val() + '/img/todayGuAreaStateAjax',
      {},
      function (d) {
        if (d) {
          window.area = d;
          window.areaIndex = {};
          window.lv1cnt = 0;

          // left side
          for (let i = 0; i < d.length; i++)
            if (d[i].LEVEL == 1)
              $('.list-area').append($.tmpl('left-area', d[i]));
            else
              $('.list-area p[data-code="' + d[i].UPCODE + '"]').after($.tmpl('left-area', d[i]));
        }
      });
  }

  function fn_mcmi_initImageSelect() {
    $.post(
      $('#contextRoot').val() + '/img/mciListAreaButton',
      {areaCode: "'" + $("#areaCode").val() + "'"},
      function (d) {
        $(".image-select-button").html("");
        let areaMap = "";
        if (d) {
          (window.selected_areamap) ? areaMap = window.selected_areamap : areaMap = d[0].AREAMAP;
          for (let i = 0; i < d.length; i++) {
            $(".image-select-button").append($.tmpl('area-select-button', d[i]));
          }
          fn_mcmi_listImageArea(areaMap);

        }
      });
  }

  function fn_mcmi_selectImageArea(areaMap){
    window.selected_grpcode = "";
    window.selected_snsrid = "";
    fn_mcmi_listImageArea(areaMap);
  }

  function fn_mcmi_listImageArea(areaMap) {
    $(".image-select-button button").removeClass("btn-primary");
    $("#" + areaMap).addClass("btn-primary");
    $.post(
      $('#contextRoot').val() + '/img/mciListImageArea',
      {areaCode: "'" + $("#areaCode").val() + "'", areaMap: "'" + areaMap + "'"},
      function (d) {
        if (d) {
          let w = $(".animated.fadeIn").width();
          let html = "<map id=\"map\" name=\"map\" style=\"cursor: pointer;\">";
          $("#area-img").html("");
          let img = '<div style="text-align: center;" class="mapimg ' + areaMap;
          img += '"><img alt="no image" class="' + areaMap;
          img += '" src="' + $('#contextRoot').val() + '/fs/img/' + $("#areaCode").val() + '/'
          img += areaMap + '.png" usemap="#map" ';
          // img += 'class="' + areaMap + '" style="width: ' + w + 'px; height: auto;"/></div>';
          img += 'class="' + areaMap + '"></div>';
          $("#area-img").append(img);
          for (let i = 0; i < d.length; i++) {
            let m = d[i];
            /*let c = m.COORDS.split(",");
            for(let j = 0 ; j < c.length ; j++){
              c[j] = c[j] * (w / 700);
            }
            m.COORDS = c.toString();*/
            html += '<area target="" alt="' + m.GRPNAME + '"' +
              ' title="' + m.GRPNAME + '"' +
              ' href="javascript:void(0);" coords="' + m.COORDS + '" shape="' + m.SHAPE + '"' +
              ' onclick="fn_mcmi_listSnsrUseKwh(\'' + m.GRPNAME + '\',\'' + m.GRPCODE + '\')"' +
              ' data-grpcode="' + m.GRPCODE + '"' +
              ' data-maphilight=\'{"fillColor":"00ff00","fillOpacity":0.3}\'>';

          }
          html += '</map>';
          $("#area-img").append(html);
          $("." + areaMap).maphilight();
          fn_mcmi_listGrpUseKwh(areaMap);
        }
      });
  }

  function fn_mcmi_listGrpUseKwh(areaMap) {
    $.post(
      $('#contextRoot').val() + '/img/mciListGrpUseKwh',
      {areaCode: "'" + $("#areaCode").val() + "'", areaMap: "'" + areaMap + "'"},
      function (d) {
        if (d) {
          $("#useKwhByGrp tbody").html("");
          let html = "";
          let c = "";
          let n = "";
          let grpCode = (window.selected_grpcode !== "") ? window.selected_grpcode : d[0].GRPCODE;
          let grpName = "";
          for (let i = 0; i < d.length; i++) {
            let data = d[i];
            if(grpCode === d[i].GRPCODE) grpName = d[i].GRPNAME;
            html +=
              '<tr><td>' + data.GRPNAME + '</td>' +
              '<td>' +
              '<div class="progress" style="border-radius: 0;">' +
              '<div class="progress-bar" role="progressbar" style="width: ' + data.USEKWHPER + '%"' +
              'aria-valuenow="' + data.USEKWHPER + '" aria-valuemin="0"' +
              'aria-valuemax="100">' + data.USEKWHPER + ' %' + '</div></div></td></tr>';
          }
          $("#useKwhByGrp tbody").html(html);
          fn_mcmi_listSnsrUseKwh(grpName, grpCode);
        }
      });
  }

  function fn_mcmi_listSnsrUseKwh(grpName, grpCode) {
    window.selected_grpcode = grpCode;
    $("#grpName").html(grpName);

    $.post(
      $('#contextRoot').val() + '/img/mciListSnsrUseKwh',
      {grpCode: "'" + grpCode + "'"},
      function (d) {
        if (d) {
          $("#useKwhBySnsr tbody").html("");
          let html = "";
          let max = d[0].USEKWH * 1.2;
          let snsrId = (window.selected_snsrid) ? window.selected_snsrid : d[0].SNSRID;
          for (let i = 0; i < d.length; i++) {
            let data = d[i];
            html += '<tr>';
            if (data.STATE === 'discon') {
              html +=
                '<td data-snsrId="' + data.SNSRID + '">' + data.SNSRNICK + ' (끊김)</td>';
            } else {
              html +=
                '<td data-snsrId="' + data.SNSRID + '">' +
                '<a href="javascript:void(0)" onclick="fn_mcmi_getSnsrChart(\'' + data.SNSRID + '\')">' +
                data.SNSRNICK + '</a></td>';
            }
            html +=
              '<td>' +
              '<div class="progress" style="border-radius: 0;">' +
              '<div class="progress-bar" role="progressbar" style="width: ' + Math.round(data.USEKWH / max * 100) + '%"' +
              'aria-valuenow="' + Math.round(data.USEKWH / max * 100) + '" aria-valuemin="0"' +
              'aria-valuemax="100">' + data.USEKWH + '</div></div></td></tr>';
          }
          $("#useKwhBySnsr tbody").append(html);
          fn_mcmi_getSnsrChart(snsrId);
        } else {
          let date = new Date();
          $("#snsrName").html("");
          if (window.energy_kwhChart !== undefined) window.energy_kwhChart.destroy();
          window.energy_kwhChart = new ApexCharts(document.querySelector('#me_snsr_kwh_chart'), {
            series: [],
            title: {text: date.getMonth() + 1 + '월 시간대별 사용전력(kWh)', type: 'line', align: 'left'},
            chart: {height: 200, id: 'me_snsr_kwh_chart', animations: {enabled: false}},
            noData: {text: '데이터가 없습니다.', style: {fontSize: '15px'}},
            stroke: {width: 2},
            dataLabels: {enabled: false},
            tooltip: {
              enabled: true,
              marker: {show: true},
            },
            xaxis: {categories: window.categoryData},
            yaxis: {
              lines: {show: true},
              tooltip: {enabled: true},
            },
            legend: {position: 'bottom'}
          });

          window.energy_kwhChart.render();
        }
      });
  }

  function fn_mcmi_getSnsrChart(snsrId) {
    let snsrName = "";
    if($("td[data-snsrid=" + snsrId + "] a").length !== 0){
      snsrName = $("td[data-snsrid=" + snsrId + "] a").html();
      fn_mcmi_setSnsrKwhChart(snsrId);
      fn_mcmi_setSnsrEvtChart(snsrId);
    } else {
      snsrName = $("td[data-snsrid=" + snsrId + "]").html();
      fn_mcmi_setNoDataChart();
    }
    $("#snsrId").val(snsrId);
    $("#snsrName").html(snsrName);


  }

  function fn_mcmi_setNoDataChart(){
    let date = new Date();
    if (window.energy_kwhChart !== undefined) window.energy_kwhChart.destroy();
    window.energy_kwhChart = new ApexCharts(document.querySelector('#me_snsr_kwh_chart'), {
      series: [],
      title: {text: date.getMonth() + 1 + '월 시간대별 사용전력(kWh)', type: 'line', align: 'left'},
      chart: {height: 200, id: 'me_snsr_kwh_chart', animations: {enabled: false}},
      noData: {text: '데이터가 없습니다.', style: {fontSize: '15px'}},
      stroke: {width: 2},
      dataLabels: {enabled: false},
      tooltip: {
        enabled: true,
        marker: {show: true},
      },
      xaxis: {categories: window.categoryData},
      yaxis: {
        lines: {show: true},
        tooltip: {enabled: true},
      },
      legend: {position: 'bottom'}
    });

    window.energy_kwhChart.render();

    if (window.energy_evtChart !== undefined) window.energy_evtChart.destroy();
    window.energy_evtChart = new ApexCharts(document.querySelector('#me_snsr_evt_chart'), {
      series: [],
      title: {text: '분석차트', type: 'line', align: 'left'},
      chart: {height: 200, id: 'me_snsr_kwh_chart', animations: {enabled: false}},
      noData: {text: '데이터가 없습니다.', style: {fontSize: '15px'}},
      stroke: {width: 2},
      dataLabels: {enabled: false},
      tooltip: {
        enabled: true,
        marker: {show: true},
      },
      xaxis: {categories: window.categoryData},
      yaxis: {
        lines: {show: true},
        tooltip: {enabled: true},
      },
      legend: {position: 'bottom'}
    });

    window.energy_evtChart.render();
  }

  function fn_mcmi_setSnsrKwhChart(snsrId) {
    $.post(
      $('#contextRoot').val() + '/img/mciListSnsrKwhChart',
      {snsrId: "'" + snsrId + "'"},
      function (d) {
        if (d) {
          let date = new Date();
          let useKwhData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
          let minKwhData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
          let maxKwhData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
          let avgKwhData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
          let l = d[0];
          if (l !== null) {
            let dt = l.dt.split(',');
            let useKwh = l.useKwh.split(',');
            let minKwh = l.minKwh.split(',');
            let maxKwh = l.maxKwh.split(',');
            let avgKwh = l.avgKwh.split(',');
            for (let i = 0; i < dt.length; i++) {
              let index = window.categoryData.indexOf(dt[i]);
              useKwhData[index] = useKwh[i];
              minKwhData[index] = minKwh[i];
              maxKwhData[index] = maxKwh[i];
              avgKwhData[index] = avgKwh[i];
            }
            window.series = [
              {
                name: '현재',
                type: 'column',
                data: useKwhData
              }, {
                name: '월 최저',
                type: 'line',
                data: minKwhData
              }, {
                name: '월 최대',
                type: 'line',
                data: maxKwhData
              }, {
                name: '월 평균',
                type: 'line',
                data: avgKwhData
              }
            ]
            if (window.energy_kwhChart !== undefined) window.energy_kwhChart.destroy();
            window.energy_kwhChart = new ApexCharts(document.querySelector('#me_snsr_kwh_chart'), {
              series: window.series,
              title: {text: date.getMonth() + 1 + '월 시간대별 사용전력(kWh)', type: 'line', align: 'left'},
              chart: {height: 200, id: 'me_snsr_kwh_chart', animations: {enabled: false}},
              stroke: {width: 2},
              dataLabels: {enabled: false},
              tooltip: {
                enabled: true,
                marker: {show: true},
              },
              xaxis: {
                categories: window.categoryData,
                tooltip: {enabled: false},
                tickAmount: 12,
                labels: {rotate: 0}
              },
              yaxis: {
                lines: {show: true},
                tooltip: {enabled: false},
                labels: {
                  formatter: function (value) {
                    let t = 0;
                    if (value !== 0) t = value.toFixed(2);
                    return t
                  }
                }
              },
              legend: {position: 'bottom'}
            });

            window.energy_kwhChart.render();
          }
        }
      });
  }

  function fn_mcmi_setSnsrEvtChart(snsrId) {
    $.post(
      $('#contextRoot').val() + '/img/mciListSnsrEvtChart',
      {snsrId: "'" + snsrId + "'"},
      function (d) {
        if (d) {
          let ampereData = [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null];
          let igrData = [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null];
          let igcData = [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null];
          let igoData = [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null];
          let l = d[0];
          if (l !== null) {
            for (let i = 0; i < d.length; i++) {
              let index = window.categoryData.indexOf(d[i].HH);
              ampereData[index] = d[i].AMPERE;
              igrData[index] = d[i].IGO;
              igcData[index] = d[i].IGR;
              igoData[index] = d[i].IGC;
            }
            window.series = [
              {
                name: '전류(AMP)',
                type: 'line',
                data: ampereData
              }, {
                name: '저항성 누설전류(IGR)',
                type: 'line',
                data: igrData
              }, {
                name: '용량성 누설전류(IGC)',
                type: 'line',
                data: igcData
              }, {
                name: '누설전류 총합(IGO)',
                type: 'line',
                data: igoData
              }
            ]
            if (window.energy_evtChart !== undefined) window.energy_evtChart.destroy();
            window.energy_evtChart = new ApexCharts(document.querySelector('#me_snsr_evt_chart'), {
              series: window.series,
              title: {text: '분석차트', type: 'line', align: 'left'},
              chart: {height: 200, id: 'me_snsr_evt_chart', animations: {enabled: false}},
              stroke: {width: 2},
              dataLabels: {enabled: false},
              tooltip: {
                enabled: true,
                marker: {show: true},
              },
              xaxis: {
                categories: window.categoryData,
                tooltip: {enabled: false},
                tickAmount: 12,
                labels: {rotate: 0}
              },
              yaxis: {
                lines: {show: true},
                tooltip: {enabled: false},
                labels: {
                  formatter: function (value) {
                    let t = 0;
                    if (value !== 0) t = value.toFixed(2);
                    return t
                  }
                }
              },
              legend: {position: 'bottom'}
            });

            window.energy_evtChart.render();
          }
        }
      });
  }

</script>
</body>
</html>