<input id="contextRoot" type="hidden" th:value="${#httpServletRequest.getContextPath()}" />

<div class="row">
  <div class="col-md-2 col-12">
    <a th:href="@{/img/main}"><img th:src="@{/fs/img/logo.png}" alt="Firesens LOGO" /></a>
    <a type="button" data-toggle="modal" data-target=".default-example-modal-left-sm" style="position: absolute; top: 1.2rem; margin-left: 1rem;">
      <i class="fal fa-list" style="font-size: 2rem;"></i>
    </a>
  </div><!-- /.col-md-2 col-12 -->
  <div class="col-md-8 col-12">
    <div class="row">
      <div class="col-md-4 col-12 d-md-block d-none">
        <div class="pl-4">
          <div class="top-date"></div>
          <div class="top-time"></div>
        </div>
      </div><!-- /.col-md-4 col-12 d-md-block d-none -->
      <div class="col-md-4 col-6" style="font-weight: 900; font-size: 30px; color: #0b3251; text-shadow: 1px 1px 3px #000; text-align: center;">Firesens 문화산업진흥원 관제</div>
      <div class="col-md-4 col-6 text-right position-relative">

      </div><!-- /.col-md-4 col-6 text-right position-relative -->
    </div><!-- /.row -->
  </div><!-- /.col-md-8 col-12 -->
  <div class="col-md-2 col-12 d-md-block d-none">
    <img th:src="@{/fs/img/logo-morit.png}" style="width:55px;" alt="morit" />
    <img th:src="@{/fs/img/logo-daejeon.png}" style="width:55px; margin-left:20px;" alt="daejeon" />
    <img th:src="@{/fs/img/logo-dicia.png}" style="width:55px; margin-left:20px;" alt="dicia" />
    <img th:src="@{/fs/img/logo-fs.png}" style="width:55px; margin-left:20px;" alt="fs" />
  </div><!-- /.col-md-2 col-12 d-md-block d-none -->
</div>
<div class="col-12 row">
  <div class="col-10">
    <div class="ml-2" style="font-weight: 900; font-size: 20px; text-align: center; margin-top: 20px; border-bottom: 2px solid #000;">오늘 센서 현황</div>
    <div class="row sensor-stat ml-1">
      <div class="col-md-3 col-6 p-1">
        <div class="bg-primary rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">전체</small>
            <span class="COUNT-TODAYTOTAL"></span>
            <small class="m-0 l-h-n invisible">발생 0</small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-sensor position-absolute opacity-15" style="font-size: 4rem; top: 10px; left: 10px;"></i>
        </div><!-- /.bg-primary rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
      <div class="col-md-3 col-6 p-1">
        <div class="bg-danger rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">경고</small>
            <span class="COUNT-TODAYDANGER"></span>
            <small class="m-0 l-h-n">발생 <span class="COUNT-COUNTDANGER"></span></small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-siren-on position-absolute opacity-15" style="font-size: 4rem; top: 10px; left: 10px;"></i>
        </div><!-- /.bg-danger rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
      <div class="col-md-3 col-6 p-1">
        <div class="bg-warning rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">주의</small>
            <span class="COUNT-TODAYWARN"></span>
            <small class="m-0 l-h-n">발생 <span class="COUNT-COUNTWARN"></span></small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-exclamation-triangle position-absolute opacity-15" style="font-size: 4rem; top: 10px; left: 10px;"></i>
        </div><!-- /.bg-warning rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
      <div class="col-md-3 col-6 p-1">
        <div class="bg-secondary rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">끊김</small>
            <span class="COUNT-TODAYDISCON"></span>
            <small class="m-0 l-h-n invisible">발생 0</small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-wifi-slash position-absolute opacity-15" style="font-size: 4rem; top: 10px; left: 10px;"></i>
        </div><!-- /.bg-secondary rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
    </div><!-- /.row sensor-stat -->
  </div>
</div>