<div class="row">
  <div class="col-12 pr-4">
    <div class="sensors-DANGER" style="border: 1px solid #ff2f44;">
      <h3 class="mb-0 bg-danger"><i class="fal fa-siren-on"></i> 경고 <span class="cnt"></span></h3>
      <div class="list-sensor" style=" height: 225px !important; overflow-y: auto !important;"></div>
    </div><!-- /.sensors-DANGER -->
    <div class="sensors-WARN" style="border: 1px solid #ffbf87;">
      <h3 class="mb-0 bg-warning"><i class="fal fa-exclamation-triangle"></i> 주의 <span class="cnt"></span></h3>
      <div class="list-sensor" style=" height: 225px !important; overflow-y: auto !important;"></div>
    </div><!-- /.sensors-WARN -->
    <div class="sensors-DISCON" style="border: 1px solid #6c757d;">
      <h3 class="mb-0 bg-secondary"><i class="fal fa-sensor-alert"></i> 끊김 <span class="cnt"></span></h3>
      <div class="list-sensor" style=" height: 225px !important; overflow-y: auto !important;"></div>
    </div><!-- /.sensors-BROKEN -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->