<div class="row">
  <div class="col-12">
    <p class="">
      <span class="name"></span>
      <span class="danger"><span class="badge badge-danger p-1"><i class="fal fa-siren-on text-white" style="font-size: 20px;"></i></span></span>
      <span class="warn"><span class="badge badge-warning p-1"><i class="fal fa-exclamation-triangle text-white" style="font-size: 20px;"></i></span></span>
    </p>
  </div><!-- /.col-12 -->
  <div class="list-area col-12" style="padding-right: 0px;"></div>
  <div class="col-12">
    <div class="sensors-CHECK" style="border: 1px solid #6c757d; margin: 15px;">
      <h3 class="bg-secondary"><i class="fal fa-sensor-alert"></i> 점검 <span class="cnt"></span></h3>
      <div class="left-list-sensor"></div>
    </div><!-- /.sensors-CHECK -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->