<div class="row">
  <div class="col-12">
    <div class="sensors-DANGER" style="border: 1px solid #ff2f44;">
      <h3 class="bg-danger"><i class="fal fa-siren-on"></i> 경고 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-DANGER -->
    <div class="sensors-WARN" style="border: 1px solid #ffbf87;">
      <h3 class="bg-warning"><i class="fal fa-exclamation-triangle"></i> 주의 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-WARN -->
    <div class="sensors-BROKEN" style="border: 1px solid #6c757d;">
      <h3 class="bg-secondary"><i class="fal fa-sensor-alert"></i> 고장 <span class="cnt"></span></h3>
      <div class="list-sensor"></div>
    </div><!-- /.sensors-BROKEN -->
  </div><!-- /.col-12 -->
</div><!-- /.row -->

<script type="text/javascript">
// 경고 / 주의 / 고장에서 상점 선택
function fn_mclr_clickRightSensor(code, strcode, snsrid) {
  window.center_name = 'store';

  fn_mcm_toggleCenterCont();
  fn_mcst_onAreaLv2(code, strcode, snsrid);
}
</script>