<input id="contextRoot" type="hidden" th:value="${#httpServletRequest.getContextPath()}" />

<div class="row">
  <div class="col-md-2 col-12">
    <a th:href="@{/mng/main}"><img th:src="@{/fs/img/logo.png}" alt="Firesens LOGO" /></a>
    <a type="button" data-toggle="modal" data-target=".default-example-modal-left-sm" style="position: absolute; top: 1.2rem; margin-left: 1rem;">
      <i class="fal fa-list" style="font-size: 2rem;"></i>
    </a>
  </div><!-- /.col-md-2 col-12 -->
  <div class="col-md-8 col-12">
    <div class="row">
      <div class="col-md-4 col-12 d-md-block d-none">
        <div class="top-date"></div>
        <div class="top-time"></div>
      </div><!-- /.col-md-4 col-12 d-md-block d-none -->
      <div class="col-md-4 col-6" style="font-weight: 900; font-size: 30px; color: #0b3251; text-shadow: 1px 1px 3px #000; text-align: center;">Firesens 전체 관제</div>
      <div class="col-md-4 col-6 text-right position-relative">
        <div class="top-search form-group custom-control-inline position-relative m-0" role="content">
          <input type="text" class="top-search-text form-control bg-subtlelight" placeholder="상점 검색" />
          <button type="button" class="btn btn-sm btn-success waves-effect waves-themed"><i class="fal fa-search"></i></button>
        </div><!-- /.top-search form-group custom-control-inline position-relative m-0 -->
        <div class="top-search-result"></div>
      </div><!-- /.col-md-4 col-6 text-right position-relative -->
    </div><!-- /.row -->
    <div style="font-weight: 900; font-size: 20px; text-align: center; margin-top: 20px; border-bottom: 2px solid #000;">오늘 센서 현황</div>
    <div class="row sensor-stat">
      <div class="col-md-3 col-6 p-1">
        <div class="bg-primary rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">전체</small>
            <span class="COUNT-TODAYTOTAL"></span>
            <small class="m-0 l-h-n">&nbsp;</small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-sensor position-absolute pos-top opacity-15" style="font-size: 4rem"></i>
        </div><!-- /.bg-primary rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
      <div class="col-md-3 col-6 p-1">
        <div class="bg-danger rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">경고</small>
            <span class="COUNT-TODAYDANGER"></span>
            <small class="m-0 l-h-n">발생 <span class="COUNT-COUNTDANGER"></span></small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-siren-on position-absolute pos-top opacity-15" style="font-size: 4rem"></i>
        </div><!-- /.bg-danger rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
      <div class="col-md-3 col-6 p-1">
        <div class="bg-warning rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">주의</small>
            <span class="COUNT-TODAYWARN"></span>
            <small class="m-0 l-h-n">발생 <span class="COUNT-COUNTWARN"></span></small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-exclamation-triangle position-absolute pos-top opacity-15" style="font-size: 4rem"></i>
        </div><!-- /.bg-warning rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
      <div class="col-md-3 col-6 p-1">
        <div class="bg-secondary rounded overflow-hidden position-relative text-center">
          <h3 class="display-4 d-block l-h-n m-0 fw-500">
            <small class="m-0 l-h-n">끊김</small>
            <span class="COUNT-TODAYDISCON"></span>
            <small class="m-0 l-h-n">&nbsp;</small>
          </h3><!-- /.display-4 d-block l-h-n m-0 fw-500 -->
          <i class="fal fa-wifi-slash position-absolute pos-top opacity-15" style="font-size: 4rem"></i>
        </div><!-- /.bg-secondary rounded overflow-hidden position-relative text-center -->
      </div><!-- /.col-md-3 col-6 p-1 -->
    </div><!-- /.row sensor-stat -->
  </div><!-- /.col-md-8 col-12 -->
  <div class="col-md-2 col-12 d-md-block d-none">
    <img th:src="@{/fs/img/logo-morit.png}" style="width:55px;" alt="morit" />
    <img th:src="@{/fs/img/logo-daejeon.png}" style="width:55px; margin-left:20px;" alt="daejeon" />
    <img th:src="@{/fs/img/logo-dicia.png}" style="width:55px; margin-left:20px;" alt="dicia" />
    <img th:src="@{/fs/img/logo-fs.png}" style="width:55px; margin-left:20px;" alt="fs" />
  </div><!-- /.col-md-2 col-12 d-md-block d-none -->
</div>

<script type="text/javascript">
$(function () {
  fn_mclt_initTop();
});

function fn_mclt_initTop() {
  fn_mclt_getSensorCount();

  $.template(
    'top-search-result',
    '<p data-areacode="{{html AREACODE}}" data-strcode="{{html STRCODE}}">{{html STRNAME}} [{{html AREANAME}}]</p>'
  );

  $('.top-search-text').on('keyup', fn_mclt_searchStore);
  $('.top-search button').on('click', fn_mclt_searchStore);

  $('.top-search-result').on('click', 'p', function () {
    fn_mcm_clickRightSensor($(this).attr('data-areacode'), $(this).attr('data-strcode'));
    $('.top-search-result').html('');
  });

  setInterval(function () {
    let w = ['일', '월', '화', '수', '목', '금', '토'];
    let now_str = fn_mclt_dateToString(new Date());

    $('.top-date').text(now_str.substring(0, 10) + ' (' + w[new Date().getDay()] + ')');
    $('.top-time').text(now_str.substring(11));
  }, 1000);
}

function fn_mclt_refreshTop() {
  fn_mclt_getSensorCount();
}

function fn_mclt_getSensorCount() {
  $.post(
    $('#contextRoot').val() + '/mng/sensorCountAjax',
    {},
    function (d) {
      for (let i = 0; i < d.length; i++)
        $('.COUNT-' + d[i].TERM + d[i].TYPE).text(d[i].CNT);
  });
}

function fn_mclt_dateToString(d) {
  return d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2) +
    ' ' + ('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2) + ':' + ('0' + d.getSeconds()).slice(-2);
}

function fn_mclt_searchStore() {
  $.post(
    $('#contextRoot').val() + '/mng/storeSearchAjax',
    { search: $('.top-search-text').val() },
    function (d) {
      $('.top-search-result').html('');
      $('.top-search-result').append($.tmpl('top-search-result', d));
  });
}
</script>